:root{
	--color_main:hsl(197, 100%, 50%);
	--color_second:hsl(267, 10%, 15%);
	--color_third:#fff;
	--color_four:#FCA3A3;
	--color_font_second:#000;
	--font_main: "sans-serif";
}


*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
	background: var(--color_main);
	font-size: 16px;
}

.content-header{
	background:var(--color_main);
	height: 5%;
}

header{
	background: var(--color_second);
	width: 100%;
	z-index: 1000;	
}

.menu{
	width: 90%;
	max-width: 1100px;
	margin:auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu .logo{
	display: inline-block;
}

.menu .logo img {
    vertical-align: top;
    height: 50px;
    width: 120px;
}
.menu .btn-menu{
	display: none;
	color: var(--color_main);
	text-decoration: none;
	font-size: 1em;
}

.nav-item::after{content:'';display:block;width:0px;height:2px;background:var(--color_main);transition: 0.2s;}
.nav-item:hover::after{width:100%;}

.enlaces{
	cursor: pointer;	
	font-family: var(--font_main),Arial, sans-serif;
}

.menu .enlaces {
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-top: 1%;
}

.menu .enlaces a {
    color: var(--color_third);
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
}

.menu .enc a:hover {
	text-decoration: none;
	color:var(--color_third);
}

.menu .enlaces a:hover {
	color: var(--color_third);
 }

.enc {
    margin-right:35%;
    margin-top: 1%;    
    z-index: 1501;
}

.feedBack{
    display:none;
}

#enlaces{
    display: flex;
}

.menu #enlaces #tienda2 {
    display: none;
}
/*
                                                            UL CATEGORIAS BEGIN
*/
.content_more_main{   
    max-height: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 50;
    top: auto;
    overflow: hidden;
    background: var(--color_second);
    width: inherit;    
    color: #fff;     
    border-radius: 0px 0px 15px 15px;
    height: 650px;
    transition: all 1.5s;
 }
.despliega{
    min-width: 110px;
    text-align: inherit;
}

.despliega .content_more_main .link_more_category_main{
    text-decoration: none;
    text-decoration-line: none; 
    color: transparent;   
    width: 100%;
}

.link_more_category_main:hover{
    text-decoration: none;
    background-color: var(--color_main);
    transition:all 0.5s ease;
    width: 100%;
}

.enlaces .despliega:hover *{
    max-height: 1000px;
    overflow: visible;   
    color:#fff;
    transition:all 1s;
}

/*
                                                            UL CATEGORIAS END
*/
.categoryGenerate{
    z-index: 1501;
}

.main_tittle>h1 {
    font-weight: 700;
    line-height: 0.8;
    font-size: 34px;
}

.search-inline {
    width: 100%;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    top: 1;
    height: 10%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: var(--color_second);
    z-index: 9;
    transition: all .5s ease-in-out;
}

.search-inline.search-visible {
    opacity: 0.9;
    visibility: visible;
    animation: fadeInDown 0.4s ease-in-out;
}

.search-inline button[type="submit"] {
    position: absolute;
    right: 52px;
    top: 0;
    background-color: transparent;
    border: 0px;
    top: 0;
    right: 80px;
    padding: 0px;
    cursor: pointer;
    width: 80px;
    height: 99%;
    background: var(--color_second);
    color: #fff;
}

.search-inline button[type="submit"]:hover {
    background: var(--color_main);
    transition: all 0.5s ease;
}

.search-inline .form-control {
    border: 0px;
    padding-left: 0;
    font-size: 1rem;
    position: absolute;
    right: 13%;
    top: 25%;
    height: 50%;
    width: 30%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-decoration: none;
    outline: transparent;
    background-color: var(--color_second);
}

.search-inline .search-close {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color_third);
    width: 80px;
    height: 100%;
    text-align: center;
    display: table;
    background: var(--color_second);
    text-decoration: none;
}

.search-inline .search-close i {
    display: table-cell;
    vertical-align: middle;
}

.input_search {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: var(--color_second);
    background-clip: padding-box;
    border: 1px solid --color_second;
    border-radius: .25rem;
    transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.postion_img_main {
    display: flex;
    position: absolute;
    margin-top: -4%;
    margin-left: 28%;
    margin-right: 35%;
    height: 105%;
}

.main_img {
    height: 96.5%;
    width: 115%;
    z-index: 1500;
}

.position_img_right {
    height: 93.2%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    justify-content: right;
    right: 0;
    margin-top: 0;
    z-index: 0;
}

.imgRight1 {
    display: flex;
    height: 50%;
    width: 350px;
    background-image: url(../img/right1.jpg);
    background-position-x: center;
    background-size: 199%;
    background-position-y: 50%;
    background-repeat: no-repeat;    
    -webkit-box-shadow: -19px -21px 25px -2px rgba(0,0,0,0.38);
    -moz-box-shadow: -19px -21px 25px -2px rgba(0,0,0,0.38);
    box-shadow: -19px -21px 25px -2px rgba(0,0,0,0.38);
}

.imgRight2 {
    display: flex;
    width: 350px;
    height: 50%;
    background-image: url(../img/right2.jpg);
    background-position-x: center;
    background-position-y: 75%;
    background-size: cover;
    background-repeat: no-repeat;    
    -webkit-box-shadow: -19px -21px 25px -2px rgba(0,0,0,0.38);
    -moz-box-shadow: -19px -21px 25px -2px rgba(0,0,0,0.38);
    box-shadow: -19px -21px 25px -2px rgba(0,0,0,0.38);
}

div .position_img_right .buy_now_right {
    height: 10%;
    margin-top: 25%;
	margin-left: 5%;
	color:var(--color_third);	
	font-family: var(--font_main),sans-serif;
	cursor: pointer;
}

div .position_img_right .buy_now_right:hover {
	color:var(--color_third);
 }

div .imgRight2> .buy_now_right{
	color:var(--color_font_second);
}

div .imgRight2> .buy_now_right:hover{
	color:var(--color_font_second);
}

.main_content_position {
    margin-top: 25%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    z-index: 1600;
}

.main_tittle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--color_third);
    width: 40%;
}

.main_button{
	margin-top:8%;
}

.main .main_content_position .btn_main{
	background-color: var(--color_third);
	color:#000;
	border:none;
	display: block;
	height: 50px;
	width: 20%;	
    font-family: var(--font_main),sans-serif;
    outline: none;
}

.most_sold_content {
    background-color: #4D4D4D;
    display: flex;
    flex-direction: row;
    margin-top: 45.4%;
    width: 100%;    
    -webkit-box-shadow: -19px -21px 25px -2px rgba(0,0,0,0.38);
    -moz-box-shadow: -19px -21px 25px -2px rgba(0,0,0,0.38);
    box-shadow: -19px -21px 25px -2px rgba(0,0,0,0.38);
}

.tittle_most_sold {
    color: #8B8B8B;
    margin-top: 5%;
    margin-left: 5%;
    font-weight: bold;
    width: 50%;
    display: inline-block;
    height: 50%;
    position: absolute;
}

.most_sold_items {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    margin-bottom: -40px;
    position: relative;
    margin-left: 5%;
    margin-right: 0;
    width: 70%;
}

.img_most_sold {
    width: 100%;
    height: 70%;
    margin-left: 5%;
}

.img_most_sold_mid {
    width: 100%;
    margin-left: 0%;
}

.items_star{
	margin-right: 15%;
}

.most_sold_name{
	margin-top: 15%;
	margin-left: 30%;
	margin-right: 30%;
	font-family: var(--font_main),sans-serif;
	color:var(--color_third);
}

.news_products_content {
    background-color: var(--color_four);
    background-image: url(../img/pag-rosa-02.jpg);
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    width: 100.05%;
    margin-left: -1px;
    height: 805px;
    margin-top: 0%;
}

.items_star .most_sold_name .btn_most_sold {
    border: none;
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: var(--color_third);
    outline: none;
}

.tittle_new_product {
    color: #FFCBCB;
    margin-top: 35%;
    margin-left: 40%;
    font-weight: bold;
    width: 50%;
}

.imgNew{
	width: 100%;
    height: 100%;
}

.button_new_product{
	display: inline-block;
}

.new_produc_main .button_new_product .btn_new_prod {
    background-color: var(--color_third);
    color: #000;
    border: none;
    display: block;
    height: 50px;
    margin-bottom: 10%;
    position: absolute;
    margin-top: 32%;
    margin-left: 5%;
    width: 9%;
    outline: none;
}

.support{
    display: none;
}

.tittle_support{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.div_formulario_email {
    padding-top: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.formulario_email {
    width: 100%;
}

.formulario_email .form_description{
    height: 150px;
}


.div_formulario_email .formulario_email .btn_send_form {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 20%;
    justify-content: center;
    background-color: var(--color_second);
    color: var(--color_third);
}

.btn_send_form:hover{
    color:var(--color_main);
}

.footer{
	height: 30px;
	display: flex;
	flex-direction: row;
}

.footer .tittle_footer{
    color: var(--color_third);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#contProd{    
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
/*
====================================================================================================================================
														SECTION ALL PRODUCTS BEGGIN
====================================================================================================================================
*/

.spawn{
    animation: spawn;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes spawn{
    0%{opacity: 0.0;}
    100%{opacity: 1}
}

.product-line{
    display: flex;
    flex-direction: row;
}

.line_buttons_category {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 6%;
    width: 90%;
}
.btns_categorys {
    text-align: center;
    margin-right: 2%;
    background-color: #dddddd;
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
}

.btns_categorys:after {
    content: "";
    position: absolute;
    background: #ededed;
    width: 51%;
    right: 0;
    height: 100%;
    -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 55% 100%);
    clip-path: polygon(4% 0, 100% 0, 100% 100%, 50% 100%);
    opacity: 0.5;
}
    
.btns_categorys:before {
    content: "";
    position: absolute;
    background: #ededed;
    width: 55%;
    height: 100%;
    left: 0;
    -webkit-clip-path: polygon(0 0, 54% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
    opacity: 0.5;
}
    
    .btns_categorys:hover::after{
        opacity: 0;
        width:0;
        transition: all 0.5s ease;
    }
    .btns_categorys:hover::before{
        opacity: 0;
        width:0;        
        transition: all 0.5s ease;
    }
    
    .btns_categorys:not(hover)::after {
        opacity: 0.5;
        right: 0%;
        transition: all 0.5s ease;
    }
    .btns_categorys:not(hover)::before{
        left: 0;
        opacity: 0.5;
        transition: all 0.5s ease;
    }
    
.btns_categorys .btnCategory {
    margin-top: 6%;
    outline-color: transparent;
    margin:auto;
    text-align: center;
    display: flex;
    align-content: center;
}

.allProducts {
    display: none;
    background: #FEFEFE;
    margin-top: 0px;
}

.divAllProducts {
    padding-left:6%;
    background-color: #FEFEFE;
}

.rower {
    display: block;
    margin-right: 0;
    margin-left: 0;
    width: 90%;
}

.section-title {
    position: relative;
    margin-bottom: 30px;
    padding-top: 4%;
}

.section-title .title {
    display: inline-block;
    text-transform: uppercase;
    margin: 0px;
    margin-left: 44%;
    margin-right: 44%;
}

.products-tabs>.tab-pane {
    display: block;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: hidden;
    padding-bottom: 60px;
    margin-bottom: -60px;
}

.products-tabs>.tab-pane.active {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.section-title .section-nav .products-slick-nav {
    top: 0px;
    right: 0px;
}

.cart-dropdown .cart-list .product-widget {
    padding: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cart-dropdown .cart-list .product-widget:last-child {
    margin-bottom: 0px;
}

.cart-dropdown .cart-list .product-widget .product-img {
    left: 0px;
    top: 0px;
}

.cart-dropdown .cart-list .product-widget .product-body .product-price {
    color: #2B2D42;
}

.product {
    position: relative;
    margin: 30px 10px 30px 10px;
    -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
    box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    width: 220px;
}

.product:hover {
    -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px var(--color_main);
    box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px var(--color_main);
}

.product .product-img {
	position: relative;
	background-color: var(--color_third);
}

.product .product-img>img {
    width: 80%;
    margin-left: 9%;
    transform: scale(1);
    transition: .3s ease-in-out;		
}

.product:hover .product-img>img{
	transform: scale(1.1);
}

.product .product-img .product-label {
    position: absolute;
    top: 15px;
    right: 15px;
}

.product .product-img .product-label>span {
    border: 2px solid;
    padding: 2px 10px;
    font-size: 12px;
}

.product .product-img .product-label>span.sale {
    background-color: #FFF;
    border-color: var(--color_main);
    color: var(--color_main);
}

.product .product-img .product-label>span.new {
    background-color: var(--color_main);
    border-color: var(--color_main);
    color: #FFF;
}

.product .product-body {
    position: relative;
    padding: 15px;
    background-color: #FFF;
    text-align: center;
    z-index: 20;
}

.product .product-body .product-category {
    text-transform: uppercase;
    font-size: 10px;
    color: #000;
    font-weight: bold;
}

.product .product-body .product-name {
    text-transform: uppercase;
    font-size: 14px;
}

.product .product-body .product-name>a {
    font-weight: 700;
}

.product .product-body .product-name>a:hover,
.product .product-body .product-name>a:focus {
    color: var(--color_main);
}

.product .product-body .product-price {
    color: var(--color_font_second);
    font-size: 18px;
}

.product .product-body .product-price .product-old-price {
    font-size: 70%;
    font-weight: 400;
    color: #8D99AE;
}

.product .product-body .product-rating {
    position: relative;
    margin: 15px 0px 10px;
    height: 20px;
}

.product .product-body .product-rating>i {
    position: relative;
    width: 14px;
    margin-right: -4px;
    background: #FFF;
    color: #E4E7ED;
    z-index: 10;
}

.product .product-body .product-rating>i.fa-star {
    color: var(--color_main);
}

.product .product-body .product-rating:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1px;
    background-color: #E4E7ED;
}

.product .product-body .product-btns>button {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: transparent;
    border: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product .product-body .product-btns>button:hover {
    background-color: #E4E7ED;
    color: var(--color_main);
    border-radius: 50%;
}

.product .product-body .product-btns>button .tooltipp {
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -15px);
    -ms-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
    width: 150px;
    padding: 10px;
    font-size: 12px;
    line-height: 10px;
    background: #1e1f29;
    color: #FFF;
    text-transform: uppercase;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product .product-body .product-btns>button:hover .tooltipp {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%, -5px);
    -ms-transform: translate(-50%, -5px);
    transform: translate(-50%, -5px);
}

.product .add-to-cart {
    position: absolute;
    bottom: 1px;
    padding: 13px;
    background: var(--color_third);
    text-align: center;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 2;
    width: 90%;
	margin-left: 10%;
	border-radius: 0 0 5px 5px;
}

.product:hover .add-to-cart {
    background-color: var(--color_second);
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.product:hover .add-to-cart .add-to-cart-btn{
    background-color: var(--color_main);
}

.product .add-to-cart .add-to-cart-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: var(--color_third);
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    font-size: 12px;
}

.product .add-to-cart .add-to-cart-btn>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: var(--color_main);
    opacity: 0;
    visibility: hidden;
}

.product .add-to-cart .add-to-cart-btn:hover {
    background-color: #FFF;
    color: var(--color_main);
    border-color: var(--color_main);
    padding: 0px 30px 0px 30px;
    font-size: 10px;
}

.product .add-to-cart .add-to-cart-btn:hover>i {
    opacity: 1;
    visibility: visible;
}


/*----------------------------*\
	Widget product
\*----------------------------*/

.product-widget {
    position: relative;
}

.product-widget+.product-widget {
    margin: 30px 0px;
}

.product-widget .product-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
}

.product-widget .product-img>img {
    width: 100%;
}

.product-widget .product-body {
    padding-left: 75px;
    min-height: 60px;
}

.product-widget .product-body .product-category {
    text-transform: uppercase;
    font-size: 10px;
    color: #8D99AE;
}

.product-widget .product-body .product-name {
    text-transform: uppercase;
    font-size: 12px;
}

.product-widget .product-body .product-name>a {
    font-weight: 700;
}

.product-widget .product-body .product-name>a:hover,
.product-widget .product-body .product-name>a:focus {
    color: var(--color_main);
}

.product-widget .product-body .product-price {
    font-size: 14px;
    color: var(--color_main);
}

.product-widget .product-body .product-price .product-old-price {
    font-size: 70%;
    font-weight: 400;
    color: #8D99AE;
}

.product-widget .product-body .product-price .qty {
    font-weight: 400;
    margin-right: 10px;
}

.product-widget .delete {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    text-align: center;
    font-size: 10px;
    padding: 0;
    background: #1e1f29;
    border: none;
    color: #FFF;
}


/*----------------------------*\
	Products slick
\*----------------------------*/

.products-slick .slick-list {
    padding-bottom: 60px;
    margin-bottom: -60px;
    z-index: 2;
}

.products-slick .product.slick-slide {
    margin: 15px;
}

.products-slick-nav {
    position: absolute;
    right: 15px;
    z-index: 10;
}

.products-slick-nav .slick-prev,
.products-slick-nav .slick-next {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 20px;
    height: 20px;
    display: inline-block !important;
    margin: 0px 2px;
}

.products-slick-nav .slick-prev:before,
.products-slick-nav .slick-next:before {
    font-size: 14px;
}

#product-imgs .product-preview {
    margin: 0px 5px;
    border: 1px solid #E4E7ED;
}

#product-imgs .product-preview.slick-current {
    border-color: var(--color_main);
}

.product-preview img {
    width: 100%;
}


/*----------------------------*\
	Product details
\*----------------------------*/

.product-details .product-name {
    text-transform: uppercase;
    font-size: 18px;
}

.product-details .product-rating {
    display: inline-block;
    margin-right: 15px;
}

.product-details .product-rating>i {
    color: #E4E7ED;
}

.product-details .product-rating>i.fa-star {
    color: var(--color_main);
}

.product-details .review-link {
    font-size: 12px;
}

.product-details .product-price {
    display: inline-block;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--color_main);
}

.product-details .product-price .product-old-price {
    font-size: 70%;
    font-weight: 400;
    color: #8D99AE;
}

.product-details .product-available {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 30px;
    color: var(--color_main);
}

.product-details .product-options {
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-details .product-options label {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
    margin-bottom: 0px;
}

.product-details .product-options .input-select {
    width: 90px;
}

.product-details .add-to-cart {
    margin-bottom: 30px;
}

.product-details .add-to-cart .add-to-cart-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: var(--color_main);
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product-details .add-to-cart .add-to-cart-btn>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: var(--color_main);
    opacity: 0;
    visibility: hidden;
}

.product-details .add-to-cart .add-to-cart-btn:hover {
    background-color: #FFF;
    color: var(--color_main);
    border-color: var(--color_main);
    padding: 0px 30px 0px 50px;
}

.product-details .add-to-cart .add-to-cart-btn:hover>i {
    opacity: 1;
    visibility: visible;
}

.product-details .add-to-cart .qty-label {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
    margin-bottom: 0px;
}

.product-details .add-to-cart .qty-label .input-number {
    width: 90px;
    display: inline-block;
}

.product-details .product-btns li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
}

.product-details .product-btns li+li {
    margin-left: 15px;
}

.product-details .product-links {
    margin-top: 15px;
}

.product-details .product-links li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
}

.product-details .product-links li+li {
    margin-left: 10px;
}

.microImg{
	height: 150px;
	width: 150px;
}

/*
======================================================================================================================
												MODAL STYLES BEGGIN
======================================================================================================================
*/

.wrap-modal1 {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9000;
	overflow: auto;
  
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
  
	visibility: hidden;
	opacity: 0;
  }
  
  .overlay-modal1 {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.8;
  }
  
  .show-modal1 {
	visibility: visible;
	opacity: 1;
  }

.show-modal1 {
    visibility: visible;
    opacity: 1;
}

.btn-num-product-up,
.btn-num-product-down {
  width: 45px;
  height: 100%;
  cursor: pointer;
}

.fs-16 {font-size: 16px;}

.wrap-num-product {
	width: 140px;
	height: 45px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	overflow: hidden;
}

.num-product {
	width: calc(100% - 90px);
	height: 100%;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	background-color: #f7f7f7;
	text-align: center;
}

.bor1 {
	border-radius: 23px;
}

.hov-btn1:hover {
	border-color: #222;
	background-color: var(--color_main);
	color: #fff;
}

.hov-btn1:hover i {
	color: #fff;
}

.hov3 {
	opacity: 0.6;
}

.how-pos3 {
    position: absolute;
    top: 17%;
    right: 9%;
}

.block_category{
    padding-left:0; 
}

/*
======================================================================================================================
												MODAL STYLES END
======================================================================================================================
*/
/*
====================================================================================================================================
														SECTION ALL PRODUCTS END
====================================================================================================================================
*/

/*
====================================================================================================================================
														SECTION CART BEGGIN
====================================================================================================================================
*/

.wizard-container {
    padding-top: 50px;
    z-index: 3;
    padding-bottom: 50px;
}

.card {
    background-color: #FFFFFF;
    padding: 10px 0 20px;
    width: 100%;
}

.wizard-card {
    min-height: 410px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
}

.wizard-navigation {
    position: relative;
}

.wizard-card .tab-content {
    min-height: 340px;
    padding: 20px 10px;
}

.wizard-card .info-text {
    text-align: center;
    font-weight: 300;
    margin: 10px 0 30px;
}

.wizard-card[data-color="azzure"] .moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #D10024;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

/*
====================================================================================================================================
														SECTION CART END
====================================================================================================================================
*/