@media screen and (max-width: 899px) {
	.search-inline {
		z-index: 1601;
	}
	.menu .enlaces #tienda {
		display: none;
	}
	.menu #enlaces #tienda2 {
		display: block;
	}
	#enlaces {
		flex-direction: column;
	}
	header .menu .logo .btn-menu {
		display: flex;
		flex-direction: column;
		margin-top: auto;
		margin-bottom: auto;
	}
	.main {
		display: flex;
		flex-direction: column-reverse;
	}
	.main_content_position {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		position: relative;
	}
	.main_tittle {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		color: var(--color_third);
		width: 50%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.main_tittle>h1 {
		font-size: 38px;
		margin-top: 20%;
	}
	.main .main_content_position .btn_main {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		height: 50px;
		width: 70%;
		justify-content: center;
	}
	.postion_img_main {
		height: 45.7%;
		width: 100%;
		margin-left: -25%;
		margin-right: -25%;
		z-index: 1500;
		margin-top: -400px;
	}
	.main_img {
		height: 100%;
		width: 100%;
		z-index: 1500;
	}
	.postion_bar_right {
		display: none;
	}
	.position_img_right {
		margin-top: 55%;
		position: relative;
	}
	.imgRight1 {
		height: 200px;
		width: 100%;
		background-size: 100%;
		background-position-y: 0;
	}
	.imgRight2 {
		height: 200px;
		width: 100%;
		background-size: 100%;
		background-position-y: 66%;
	}
	.most_sold_content .itemStar {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.section-title {
		position: relative;
		margin-bottom: 0;
		padding-top: 4%;
	}
	.section-title .title {
		margin-top: 5%;
		margin-left: 22%;
		margin-right: 22%;
	}
	.product-line {
		display: flex;
		flex-direction: column;
		width: 88%;
	}
	#list_product .product-line {
		display: flex;
		flex-direction: column;
		width: 90%;
	}
	.despliega {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		height: 10vh;
		max-height: 10vh;
	}
	.despliega:hover {
		max-height: 70vh;
		height: 70vh;
		transition: all 0.5s ease;
		width: 100%
	}
	.content_more_main {
		top: 0;
		left: 0;
		right: 0;
		position: relative;
	}
}
@media screen and (max-width: 768px) {
	header .menu {
		flex-direction: column;
	}
	header .menu .logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 1em;
	}
	header .menu .logo .btn-menu {
		display: inline-block;
	}
	header .menu .enlaces {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.main .main_content_position .btn_main {
		margin-top: 35%;
		margin-left: 15%;
		margin-right: 15%;
		position: absolute;
	}
	.postion_img_main {
		height: 31%;
		width: 100%;
		margin-left: -5%;
		margin-right: 0;
	}
	.most_sold_content {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.most_sold_items {
		margin-top: 25%;
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 99%;
		margin-left: 1%;
	}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 30%;
		margin-right: 30%;
		margin-bottom: 0;
		width: 40%;
	}
	.redes {
		width: 100%;
		margin-top: 5%;
		height: 30%;
		border: none;
	}
	.product {
		width: 100%;
	}
	.product .product-img>img {
		width: 70%;
		margin-left: 15%;
		height: 100%;
		margin-top: 0;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 90% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.block_category {
		padding-left: 16%;
		padding-right: 10%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
	.footer {
		width: 100%;
	}
}
@media screen and (max-width:425px) {
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.main .postion_img_main {
		height: 28.7%;
		width: 100%;
		margin-left: -25px;
		margin-right: -25%;
		z-index: 1500;
		margin-top: -400px;
	}
	.main_img {
		height: 100%;
		width: 100%;
		z-index: 1500;
	}
	.most_sold_items {
		margin-top: 25%;
	}
	body .most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 100%;
		margin-left: 0%;
	}
	.img_most_sold {
		width: 100%;
		height: 70%;
		margin-left: 0%;
	}
	.img_most_sold_mid {
		width: 100%;
		margin-left: 0%;
	}
	.most_sold_items .items_star {
		margin-right: 0%;
		margin-left: 19.5%;
		margin-bottom: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.main_button {
		margin-top: 12%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 30%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 690px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.divAllProducts {
		padding-left: 0;
		margin-right: -40%;
		background-color: #FEFEFE;
	}
	.product {
		width: 100%;
	}
	.product .product-img>img {
		width: 70%;
		margin-left: 15%;
		height: 100%;
		margin-top: 0;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 90% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
		margin-right: -12%;
		margin-left: 18%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
}
@media screen and (max-width:411px) {
	.icon_hipervinculos {
		display: flex;
		flex-direction: row;
		margin-right: 25%;
		margin-left: 10%;
	}
}
@media screen and (max-width:375px) {
	.nav {
		height: 62px;
	}
	.wizard-card[data-color="azzure"] .moving-tab {
		padding: 13px;
		height: 62px;
	}
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.main .postion_img_main {
		height: 29%;
		width: 100%;
		margin-left: -10%;
		margin-right: -10%;
		z-index: 1500;
		margin-top: -400px;
	}
	.main_img {
		height: 100%;
		width: 100%;
		z-index: 1500;
	}
	.most_sold_items {
		margin-top: 25%;
		margin-bottom: 15px;
	}
	body .most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 100%;
		margin-left: 0%;
	}
	.img_most_sold {
		width: 100%;
		height: 70%;
		margin-left: 0%;
	}
	.img_most_sold_mid {
		width: 100%;
		margin-left: 0;
	}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.divAllProducts {
		padding-left: 0;
		margin-right: -39%;
		background-color: #FEFEFE;
	}
	.product {
		width: 100%;
	}
	.product .product-img>img {
		width: 70%;
		margin-left: 15%;
		height: 100%;
		margin-top: 0;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 10% !important;
		width: 70% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.products-tabs .block_category {
		padding-left: 5%;
		padding-right: 0%;
		margin-right: -5%;
		margin-left: 0;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
	.footer {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width:320px) {
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.main_tittle>h1 {
		font-size: 28px;
	}
	.main .postion_img_main {
		height: 250px;
		width: 70%;
		margin-left: -19%;
		margin-right: -25%;
		z-index: 1500;
		margin-top: -400px;
	}
	.main .postion_img_main .main_img {
		height: 100%;
		width: 320px;
		z-index: 1500;
		margin-left: 30px;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.most_sold_items {
		margin-top: 25%;
	}
	body .most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 100%;
		margin-left: 0%;
	}
	.img_most_sold {
		width: 100%;
		height: 70%;
		margin-left: 0%;
	}
	.img_most_sold_mid {
		width: 145%;
		margin-left: -28%;
	}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: 290%;
		background-position-x: 20%;
		width: 100%;
		margin-left: 0;
		height: 450px;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 350px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.footer .redes {
		width: 90%;
		margin-top: 5%;
		height: 30%;
		border: none;
	}
	.product {
		width: 100%;
	}
	.product .product-img>img {
		width: 70%;
		margin-left: 15%;
		height: 100%;
		margin-top: 0;
	}
	.product .add-to-cart {
		width: 100% !important;
		margin-left: 0;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 60px !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.block_category {
		padding-left: 16%;
		padding-right: 10%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.wizard-card .wizard-header h3 {
		font-weight: 400;
	}
	.wizard-card .wizard-header small {
		font-size: 60%
	}
	.wizard-card .wizard-footer {
		padding: 0 50px;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		margin-left: auto;
	}
	.container_links {
		border-right: none;
		width: 90%;
		margin-left: 0.5%;
	}
	.footer_links {
		width: 100%;
	}
	.tittle_red {
		margin-left: 3%;
	}
	.icon_hipervinculos {
		display: flex;
		flex-direction: row;
		margin-right: 25%;
		margin-left: 10%;
	}
	.icon_a {
		width: 100%;
		margin-top: 5%;
		margin-left: 0%;
		margin-right: 0;
	}
	.icon_a img {
		width: 80%;
		margin-left: 30%;
		margin-right: 30%;
	}
	.link_footer {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
	.footer {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.footer_email {
		display: flex;
		margin-top: 40%;
		margin-left: 10%;
		width: 90%;
	}
	.footer_email h5 {
		text-align: center;
	}
	.footer_links .accordion {
		display: block;
		margin-left: -3%;
		width: 115%;
	}
}
@media screen and (width:480px){
	.postion_img_main {
		height: 300px;
	}
	.items_star {
		height: 450px;
		width: 280px;
	}
	.news_products_content {
		background-size: 300%;
		background-position-x: 20%;
		height: 715px;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 600px;
	}
	.divAllProducts {
		margin-left: 5%;
		margin-right: -20%;
	}
	.product .add-to-cart {
		margin-left: 0;
		width:100% !important;
	}
	.section-title .title {
		margin-left: 32%;
		margin-right: 32%;
	}
	.block_category {
		margin-left: 10%;
		margin-right: -25%;
	}
}
@media screen and (width:600px){
	.main .postion_img_main {
		height: 350px;
	}
	.main .main_content_position .btn_main {
		margin-left: 30%;
		margin-right: 30%;
		width: 40%;
	}
	.imgRight2 {
		background-position-y: 55%;
	}
	.items_star {
		margin-left: 15%;
	}
	.img_most_sold {
		width: 50%;
		margin-left: 25%;
	}
	.img_most_sold_mid {
		width: 50%;
		margin-left: 25%;
	}
	.news_products_content {
		background-position-x: 18%;
	}
	.line_buttons_category {
		display: none;
	}
	#list_product .product-line {
		width: 100%;
	}
	.block_category {
		padding-left: 35%;
	}
	.section-title .title {
		margin-top: 5%;
		margin-left: 40%;
		margin-right: 40%;
	}
}
@media screen and (width:800px){
	.postion_img_main {
		height: 500px;
	}
	.news_products_content {
		background-size: 231%;
		background-position-x: 11%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-left: 35%;
		margin-right: 35%;
		width: 30%;
	}
}
/*
==================================================================================================================
										PRECISAS
==================================================================================================================
*/
@media (width:240px) and (height:240px){
	.main .postion_img_main {
		height: 180px;
		margin-top: -348px;
	}
	.main .postion_img_main .main_img {
		width: 200px;
	}
	.imgRight1 {
		height: 148px;
	}
	.tittle_most_sold h1{
		font-size: 1.8rem;
	}
	.stext-101 {
		font-size: 10px;
	}
	.img_most_sold_mid {
		width: 100%;
		margin-left: 0%;
	}
	.line_buttons_category {
		display: none;
	}
	.section-title .title {
		margin-top: 5%;
		margin-left: 0;
		margin-right: 0;
	}
	.products-tabs .block_category {
		padding-left: 5%;
		padding-right: 0%;
		margin-right: -15%;
		margin-left: -8%;
	}
	.news_products_content {
		background-size: 240%;
		background-position-x: 14%;
		height: 275px;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 200px;
		margin-left: 15%;
		margin-right: 15%;
		width: 70%;
	}
}

@media (width:320px) and (height:568px) {
	.main_tittle {
		margin-left: 15%;
		margin-right: 0;
	}
	.rower {
		width: 95%;
	}
	#list_product .product-line {
		width: 100%;
	}
	.divAllProducts {
		padding-left: 0%;
		margin-left: auto;
		margin-right: auto;
	}
	.divAllProducts .product-line {
		width: 100%;
	}
	.products-tabs .block_category {
		padding-left: 5%;
		padding-right: 5%;
		width: 100%;
		margin-left: 0;
	}
	.main .postion_img_main .main_img {
		margin-left: 10px;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 350px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.content_more_main {
		top: 55%;
	}
	.img_most_sold_mid {
		width: 100%;
		margin-left: 0;
	}
	.line_buttons_category {
		display: none;
	}
}

@media (width:568px) and (height:320px) {
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-right: 0;
		z-index: 1500;   
		 margin-left: 20%;
		margin-top: -835px;
	}
	.main_tittle {
		width: 50%;
		margin-left: 10%;
		margin-right: 0;
	}
	.most_sold_items {
		margin-top: 15%;
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	.img_most_sold {
		width: 50%;
		height: 70%;
		margin-left: 5%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 40%;
	}
	.main .main_content_position .btn_main {
		margin-left: 11%;
		margin-right: 0;
		width: 35%;
		margin-top: 0;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.divAllProducts .product {
		margin: 30px 30px 30px 20px;
	}
	.products-tabs .block_category {
		padding-left: 30%;
		padding-right: 0;
		margin-left: 0%;
		margin-right: -25%;
	}
	.divAllProducts .product .product-img>img {
		width: 50%;
		margin-left: 25%;
	}
	.product .product-img>img {
		width: 50%;
		margin-left: 28%;
	}
	.main_img {
		height: 347px;
		width: 425px;
		z-index: 1500;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: 125%;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}
	.img_most_sold_mid {
		width: 50%;
		margin-left: 5%;
	}
	.section-title .title {
		margin-top: 5%;
		margin-left: 35%;
		margin-right: 35%;
	}
	.news_products_content {
		background-size: 275%;
		background-position-x: 18%;
		background-position-y: 27%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-bottom: 0;
		width: 40%;
		margin-left: 30%;
		margin-right: 30%;
	}
	.content_more_main {
		top: 0;
		left: 3px;
		position: relative;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 30% !important;
	}
	.rower {
		width: 100%;
	}
	.product .add-to-cart {
		width: 100% !important;
		margin-left: 0;
	}
}

@media (width:360px) and (height:640px) {
	#enlaces {
		display: flex;
		flex-direction: column;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .postion_img_main {
		margin-left: -45px;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.wrap-modal1 {
		top: 5% !important;
	}
}

@media (width:640px) and (height:360px) {
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	.main .main_content_position .btn_main {
		width: 50%;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 29%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -889px;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 17%;
		padding-right: 10%;
	}
	.main_img {
		height: 397px;
		width: 450px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: 125%;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}
	.img_most_sold_mid {
		width: 100%;
		margin-left: 0;
	}
	.most_sold_items {
		margin-bottom: 30px;
	}
	.section-title .title {
		margin-top: 5%;
		margin-left: 35%;
		margin-right: 35%;
	}
	#list_product .product-line {
		width: 100%;
	}
	.block_category .product {
		margin: 30px 40px 30px 80px;
	}
	.product .product-img>img {
		width: 30%;
		margin-left: 35%;
	}
	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
	}
	.footer {
		flex-direction: column;
		height: 0;
	}
}

@media (width:375px) and (height:667px) {
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
	}
	.main .postion_img_main {
		margin-left: -45px;
	}
	#list_product .product {
		margin: 30px 10px 30px 55px;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.wrap-modal1 {
		top: 3% !important;
	}
	.nav {
		height: 50px;
	}
}

@media (width:667px) and (height:375px) {
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 29%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -885px;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 17%;
		padding-right: 10%;
	}
	.main_img {
		height: 397px;
		width: 400px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}
	.img_most_sold_mid {
		width: 145%;
		margin-left: -29%;
	}
	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}
	.divAllProducts {
		padding-left: 6%;
		background-color: #FEFEFE;
		margin-left: 15%;
	}
	.divAllProducts .product {
		width: 70%;
	}
	.divAllProducts .product .product-img>img {
		width: 40%;
		margin-left: 30%;
		height: 100%;
		margin-top: 0;
	}
	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}
	#list_product .product {
		margin: 30px 40px 30px 60px;
	}
	.section-title .title {
		margin-left: 35%;
		margin-right: 35%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 28%;
	}
	.icon_hipervinculos {
		margin-right: 50%;
	}
	.footer {
		flex-direction: column;
		height: 200px;
	}
	.redes {
		width: 95%;
	}
	.accordion {
		width: 600px;
	}
	.container_links {
		margin-top: -25%;
	}
	.footer_email h5 {
		margin-top: 15%;
	}
}

@media (width:411px) and (height:731px) {
	#list_product .product-line {
		width: 100%;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.despliega:hover {
		height: 90vh;
	}
}

@media (width:731px) and (height:411px) {
	.despliega {
		height: 8vh;
		max-height: 8vh;
		overflow: scroll;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 29%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -906px;
	}
	.main_tittle {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		color: var(--color_third);
		width: 50%;
		margin-left: 15%;
		margin-right: 0;
	}
	.main .main_content_position .btn_main {
		display: flex;
		margin-left: 15%;
		margin-right: 0;
		height: 50px;
		width: 30%;
		justify-content: center;
	}
	.most_sold_items {
		margin-top: 15%;
		margin-bottom: 30px;
	}
	.img_most_sold {
		display: flex;
		width: 50%;
		height: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.most_sold_name {
		margin-top: 3%;
	}
	.wrap-pic-w img {
		height: 20%;
		width: 50%;
	}
	.products-tabs .block_category {
		padding-left: 17%;
		padding-right: 10%;
	}
	.main_img {
		height: 430px;
		width: 500px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}
	.img_most_sold_mid {
		width: 50%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}
	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}
	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}
	#list_product .product {
		margin: 30px 40px 30px 60px;
	}
	.section-title .title {
		margin-left: 35%;
		margin-right: 35%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		width: 30%;
		margin-left: 35%;
		margin-right: 35%;
	}
}

@media (width:411px) and (height:823px) {
	.products-tabs .block_category {
		padding-left: 0%;
		padding-right: 0%;
	}
	#list_product .product-line {
		width: 100%;
	}
	#list_product .product {
		margin: 30px 10px 30px 50px;
	}
	.main_button {
		margin-top: 35%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.despliega:hover {
		height: 90vh;
	}
}

@media (width:823px) and (height:411px) {
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	header .menu {
		flex-direction: column;
	}
	header .menu .logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 1em;
	}
	header .menu .logo .btn-menu {
		display: inline-block;
	}
	header .menu .enlaces {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.main_content_position {
		margin-right: 50%;
	}
	.main .main_content_position .btn_main {
		width: 50%;
	}
	.most_sold_content {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.most_sold_items {
		margin-top: 12%;
		display: flex;
		flex-direction: column;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 30px;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 100%;
		margin-left: 1%;
	}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 125%;
		margin-left: 5%;
		width: 40%;
	}
	.redes {
		width: 100%;
		margin-top: 5%;
		height: 30%;
		border: none;
	}
	.divAllProducts {
		padding-left: 0;
		padding-right: 0;
		margin-left: 25%;
	}
	.divAllProducts .product {
		width: 70%;
	}
	.divAllProducts .product .product-img>img {
		width: 50%;
		margin-left: 26%;
	}
	#list_product .product .product-img>img {
		width: 50%;
		margin-left: 25%;
		height: 100%;
		margin-top: 0;
	}
	#list_product .product {
		width: 100%;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 60% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.block_category {
		padding-left: 16%;
		padding-right: 10%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 23%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -874px;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
		margin-left: 55%;
		width: 100%;
	}
	.main_img {
		height: 397px;
		width: 400px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}
	.img_most_sold_mid {
		width: 100%;
		margin-left: 0;
	}
	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}
	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}
	#list_product .product {
		margin: 30px 40px 30px 60px;
	}
	.section-title .title {
		margin-left: 39%;
		margin-right: 39%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 35%;
		margin-right: 35%;
		width: 25%;
	}
}

@media (width:414px) and (height:736px) {
	.products-tabs .block_category {
		padding-left: 0%;
		padding-right: 0%;
	}
	#list_product .product-line {
		width: 100%;
	}
	#list_product .product {
		margin: 30px 10px 30px 60px;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.wrap-pic-w img {
		width: 60% !important;
	}
	.despliega:hover {
		height: 90vh;
	}
}

@media (width:736px) and (height:414px) {
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	.main_tittle {
		margin-left: 10%;
		margin-right: 0;
	}
	.main .main_content_position .btn_main {
		margin-left: 10%;
		margin-right: 0;
		width: 30%;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 29%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -873px;
	}
	.img_most_sold {
		width: 60%;
		height: 70%;
		margin-left: 15%;
	}
	.most_sold_name {
		margin: 10% 35% 60px 20%;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 20%;
		padding-right: 10%;
	}
	.main_img {
		height: 397px;
		width: 400px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}
	.img_most_sold_mid {
		width: 80%;
		margin-left: 5%;
	}
	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}
	.divAllProducts .product .product-img>img {
		width: 50%;
		margin-left: 25%;
		height: 100%;
		margin-top: 0;
	}
	.divAllProducts .product {
		width: 50%;
	}
	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}
	#list_product .product {
		margin: 30px 40px 30px 60px;
	}
	.section-title .title {
		margin-left: 35%;
		margin-right: 35%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
	}
}

@media (width:375px) and (height:812px) {
	.main_img {
		width: 385px;
	}
	.main .postion_img_main {
		margin-left: -25px;
	}
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
	}
	.despliega:hover {
		height: 80vh;
	}
	#list_product .product {
		margin: 30px 10px 30px 55px;
	}
	.main_button {
		margin-top: 50%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 115%;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
}

@media (width:812px) and (height:375px) {
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	.despliega:hover {
		height: 110vh;
		max-height: 120vh;
	}
	header .menu {
		flex-direction: column;
	}
	header .menu .logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 1em;
	}
	header .menu .logo .btn-menu {
		display: inline-block;
	}
	header .menu .enlaces {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.most_sold_content {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.most_sold_items {
		margin-top: 25%;
		display: flex;
		flex-direction: column;
		margin-left: 25%;
		margin-right: 25%;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 100%;
		margin-left: 1%;
	}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.star1 {
		margin-top: -55%;
		margin-left: 16%;
		width: 50%;
	}
	.star2 {
		margin-top: -35%;
		margin-left: 023%;
		width: 40%;
		height: 35%;
	}
	.star3 {
		margin-top: -60%;
		margin-left: 23%;
		width: 50%;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 125%;
		margin-left: 5%;
		width: 40%;
	}
	.redes {
		width: 100%;
		margin-top: 5%;
		height: 30%;
		border: none;
	}
	.divAllProducts {
		padding-left: 0;
		padding-right: 0;
		margin-left: 25%;
	}
	.divAllProducts .product {
		width: 70%;
	}
	.divAllProducts .product .product-img>img {
		width: 50%;
		margin-left: 26%;
	}
	#list_product .product .product-img>img {
		width: 50%;
		margin-left: 25%;
		height: 100%;
		margin-top: 0;
	}
	#list_product .product {
		width: 100%;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 90% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.block_category {
		padding-left: 16%;
		padding-right: 10%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.wizard-card .wizard-header h3 {
		font-weight: 400;
	}
	.wizard-card .wizard-header small {
		font-size: 60%
	}
	.wizard-card .wizard-footer {
		padding: 0 50px;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		margin-left: auto;
	}
	.container_links {
		border-right: none;
		width: 90%;
		margin-left: 0.5%;
	}
	.footer_links {
		width: 100%;
	}
	.tittle_red {
		margin-left: 3%;
	}
	.icon_hipervinculos {
		display: flex;
		flex-direction: row;
		margin-right: 25%;
		margin-left: 10%;
	}
	.icon_a {
		width: 100%;
		margin-top: 5%;
		margin-left: 0%;
		margin-right: 0;
	}
	.icon_a img {
		width: 80%;
		margin-left: 30%;
		margin-right: 30%;
	}
	.link_footer {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
	.footer {
		width: 100%;
	}
	.footer_email {
		display: flex;
		margin-top: 40%;
		margin-left: 10%;
		width: 90%;
	}
	.footer_email h5 {
		text-align: center;
	}
	.accordion {
		margin-left: -0.5%;
		width: 320px;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 23%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -874px;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
		margin-left: 55%;
		width: 100%;
	}
	.main_img {
		height: 386px;
		width: 400px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}
	.img_most_sold_mid {
		width: 145%;
		margin-left: -29%;
	}
	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}
	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}
	#list_product .product {
		margin: 30px 40px 30px 60px;
	}
	.section-title .title {
		margin-left: 39%;
		margin-right: 39%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 28%;
	}
	.icon_hipervinculos {
		margin-right: -50px;
	}
	.footer {
		flex-direction: column;
		height: 150px;
	}
	.redes {
		width: 95%;
	}
	.accordion {
		width: 790px;
	}
	.container_links {
		margin-top: 10%;
	}
	.footer_email h5 {
		margin-top: 10%;
	}
}

@media (width:768px) and (height:1024px) {
	.despliega:hover {
		max-height: 65vh;
	}
	.menu .logo {
		display: flex;
	}
	.menu .logo .btn-menu {
		margin-left: 550px;
	}
	.postion_img_main {
		margin-left: 0%;
		margin-top: -900px;
	}
	.main_img {
		width: 700px;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 300px;
		margin-left: 285px;
		margin-right: 285px;
		width: 25%;
	}
	.imgRight1 {
		height: 400px;
		background-size: 130%;
		background-position-y: 45%;
	}
	.imgRight2 {
		height: 500px;
	}
	.most_sold_content {
		margin-top: 0%;
	}
	.most_sold_content .tittle_most_sold {
		width: 99%;
	}
	.items_star {
		margin-left: 45%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin:690px 35% 0;
		width: 30%;
	}
	.most_sold_items {
		margin-top: 15%;
		margin-bottom: 40px;
	}
	.news_products_content {
		background-size: cover;
		background-position-x: 15%;
		margin-left: 0;
	}
	.wizard-container {
		min-height: 900px;
	}
	.section-title .title {
		margin-top: 5%;
		margin-left: 40%;
		margin-right: 40%;
	}
	.allProducts .rower {
		width: 100%;
	}
	.divAllProducts {
		padding-left: 0;
		margin-left: 40%;
		background-color: #FEFEFE;
		width: 100%;
	}
	.divAllProducts .product-line {
		width: 100%;
	}
	.divAllProducts .product {
		width: 90%;
	}
	.rower .products-tabs {
		width: 60%;
	}
	.block_category .product .product-img>img {
		width: 35%;
		margin-left: 31%;
	}
	.block_category {
		padding-left: 0;
		padding-right: 0;
		margin-left: 44%;
		width: 95%;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 35% !important;
	}
}


/*
================================================================================
								MIN BEGGIN 
================================================================================
*/

@media screen and (min-width:530px) {
	.postion_img_main {
		height: 35%;
	}
}

@media screen and (min-width:580px) {
	.postion_img_main {
		height: 40%;
	}
}

@media screen and (min-width:630px) {
	.postion_img_main {
		height: 45%;
	}
}

@media screen and (min-width:769px) {
	header .menu {
		flex-direction: column;
	}
	header .menu .logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 1em;
	}
	header .menu .logo .btn-menu {
		display: inline-block;
	}
	header .menu .enlaces {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.search-inline .form-control {
		display: flex;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.main .main_content_position .btn_main {
		margin-top: 35%;
		margin-left: 30%;
		margin-right: 30%;
		position: absolute;
		width: 40%;
	}
	.postion_img_main {
		height: 55%;
		width: 100%;
		margin-left: -5%;
		margin-right: 0;
		margin-top: -600px;
	}
	.position_img_right {
		height: 600px;
	}
	.imgRight1 {
		height: 300px;
		background-position-y: 45%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 55%;
	}
	.most_sold_content {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.most_sold_items {
		margin-top: 25%;
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 99%;
		margin-left: 1%;
	}
	.items_star {
		margin-right: auto;
		margin-left: auto;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 30%;
		margin-right: 30%;
		margin-bottom: 0;
		width: 40%;
	}
	.redes {
		width: 100%;
		margin-top: 5%;
		height: 30%;
		border: none;
	}
	.section-title .title {
		margin-left: 43%;
		margin-right: 43%;
	}
	.divAllProducts {
		margin-left: 25%;
	}
	
	.row .products-tabs{
		width:100%;
	}
	.product {
		width: 300px;
	}
	.product .product-img>img {
		width: 70%;
		margin-left: 15%;
		height: 100%;
		margin-top: 0;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 90% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.block_category {
		padding-left: 30%;
		padding-right: 10%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
	.footer {
		width: 100%;
	}
}

@media screen and (min-width:900px) {
	.main {
		display: flex;
		height: 1000px;
		width: 100%;
		flex-direction: column;
	}
	header .menu {
		flex-direction: row;
	}
	header .menu .logo .btn-menu {
		display: none;
	}
	.menu {
		width: 99%;
	}
	header .menu .enlaces {
		margin-top: auto;
		margin-bottom: auto;
		flex-direction: row;
		flex-wrap: nowrap;
	}	
	.enc {
		margin-right: 5%;
	}
	.menu #enlaces {
		display: flex;
		width: 100%;
		margin-right: 2%;
		margin-top: auto;
		margin-bottom: auto;
	}
	.menu .enlaces a {
		margin-right: 1vw;
		padding: 0.8em;
	}
	.main .main_content_position {
		margin-top: 20%;
		width: 60%;
	}
	.main_tittle {
		margin-top: 35%;
		margin-left: 42%;
		margin-right: 42%;
		width: 60%;
	}
	.main_tittle>h1 {
		font-size: 42px;
	}
	.main .main_content_position .btn_main {
		margin-top: 0;
		margin-left: 47%;
		margin-right: 47%;
	}
	.postion_img_main {
		margin-top: 100px;
		margin-right: 0;
		height: calc(100% - 19.1%);
		width: 90%;
	}
	.main_img {
		min-height: 96.5%;
		max-width: 100%;
	}
	.position_img_right {
		height: 1000px;
		margin-top: 75%;    
		position: relative;
		flex-direction: row;
	}
	.imgRight1 {
		display: flex;
		height: 100%;
		width: 50%;
		background-image: url(../img/right1.jpg);
		background-position-x: center;
		background-size: 150%;
		background-position-y: 50%;
		background-repeat: no-repeat;
	}
	.imgRight2{
		height: 100%;
		width: 50%;
	}
	.postion_bar_right {
		margin-top: 54%;
	}
	.section-title .title {
		margin-left: 40%;
		margin-right: 40%;
	}
	.divAllProducts {
		padding-left: 0%;
		margin-left: 0;
		min-height: 800px;
	}
	.rower {
		width: 100%;
	}
	.swal-modal {
		width: 30%;
		margin-left: 0%;
		margin-right: 5%;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 30% !important;
		left: 0 !important;
	}
	.wrap-pic-w img {
		width: 50% !important;
	}
	.block_category {
		padding-left: 0;
		padding-right: 0;		
		min-height: 800px;
	}
	.content_more_categorias {
		height: 480px;
	}
	#cart_items {
		height: 85vh;
	}
	.product-line {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 35%;
		margin-left: 32%;
		margin-right: 32%;
	}
	.product .add-to-cart {
		margin-left: 8%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 5%;
		width: 15%;
	}
	.news_products_content{
		background-size: 215%;
		background-position-x: 6%;	
	}
	.product-line .product {
		margin: 30px 15px 30px 0px;
	}
	.product-line .product .product-body .product-category {
		font-size: 10px;
	}
	.content_more_main{
		height: 800px;
	}
}

@media screen and (min-width:1024px) {
	.menu #enlaces {
		margin-right: 8%;
	}
	.enc {
		margin-right: 16.8%;
	}
	.main {
		height: 90vh;
	}
	.main .main_content_position {
		margin-top: 28vh;
		width: 52%;
	}
	.main_tittle {
		margin-top: 15vh;
		margin-left: 0;
		margin-right: 0;
		width: 40%;
	}
	.main_tittle>h1 {
		font-size: 26px;
	}
	.main .main_content_position .btn_main {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}
	#principal .postion_img_main {
		height: 90vh;
		width: 75vw;
		margin-top: 3.2vh;
		margin-left: -14%;
	}
	#principal .position_img_right {
		height: 90.1vh;
		width: 400px;
		margin-top: -1px;
		position: absolute;
		flex-direction: column;
	}
	#principal .imgRight1 {
		height: 50%;
		width: 100%;
		background-size: 150%;
		background-position-y: 45%;
	}
	#principal .imgRight2 {
		height: 50%;
		width: 100%;
	}
	div .position_img_right .buy_now_right {
		margin-top: 30%;
	}
	.section-title .title {
		margin-left: 44%;
		margin-right: 40%;
	}
	.divAllProducts {
		padding-left: 4%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 5%;
		width: 15%;
	}
	.footer_email {
		margin-top: 5% !important;
		color: var(--color_third);
	}
	.footer_email h5 {
		font-size: 1em;
	}
	.product-line .product {
		margin: 30px 35px 30px 0px;
	}
	.product-line .product .product-body .product-category {
		font-size: 10px;
	}
}

@media screen and (min-width:1200px){
	#principal .position_img_right {
		width: 450px;
	}
	.most_sold_items {
		margin-top: 10%;
		flex-direction: row;
		margin-bottom: -70px;
		width: 75%;
	}
	.wrap-modal1 {
		top: 5vh !important;
	}
	.header-logo .logo img {
		margin-left: 0% !important;
		height: 50px !important;
		width: 340px !important;
	}
	.add-to-cart {
		width: 80% !important;
	}
	.wrap-pic-w img {
		height: 60% !important;
	}
	.news_products_content {
		background-size: 100%;
		background-position-x: 6%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-left: 43%;
		width: 15%;
	}
	.product-line {
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.product-line .product {
		margin: 30px 15px 30px 0px;
	}
	.divAllProducts .product .add-to-cart {
		margin-left: 0;
		min-width: 100%;
	}
	.divAllProducts .product .add-to-cart .add-to-cart-btn {
		font-size: 11px;
	}
}

@media screen and (min-width:1350px){
	.main_tittle {
		margin-top: 25vh;
		width: 35%;
	}
	#principal .position_img_right {
		width: 500px;
	}
	.despliegue>ul {
		max-height: 0px;
		position: absolute;
		z-index: 4;
		top: 100%;
		overflow: hidden;
		background: #fff;
		width: 180px;
		transition: all 1s;
		border-radius: 0px 0px 15px 15px;
		height: 650%;
	}
}

@media screen and (min-width:1500px){
	#principal .position_img_right {
		width: 550px;
	}
}

@media screen and (min-width:1600px){
	#principal .position_img_right {
		width: 620px;
	}
}

@media screen and (min-width:1900px){
	#principal .postion_img_main {
		margin-left: -10%;
	}
	.block_category {
		padding-left: 5%;
	}
}
@media screen and (min-width:2560px){
	#principal .postion_img_main {
		margin-left: 0%;
	}
	.main_img {
		min-height: 96.5%;
		width: 130%;
		max-width: 150%;
	}
	#principal .position_img_right {
		width: 750px;
	}
	div .position_img_right .buy_now_right {
		margin-top: 50%;
		font-size: 20px;
	}
	#principal .imgRight1 {
		background-size: 215%;
		background-position-y: 50%;
	}
	.imgRight2 {
		background-position-y: 75%;
	}
	.divAllProducts {
		padding-left: 15%;
	}
	.block_category {
		padding-left: 15%;
	}
	.how-pos3 {
		right: 26%;
	}
	#cart_items {
		height: 92.5vh;
	}
}
/*
================================================================================
								MIN END 
================================================================================
*/

/*
================================================================================
										PRECISO BEGIN
================================================================================
*/
@media (width:1024px) and (height:768px) {
	.menu {
		width: 100%;
	}
	.most_sold_items {
		margin-top: 15%;
	}
	.postion_img_main {
		height: 476px;
	}
	.position_img_right {
		height: 457px;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 45%;
		margin-left: 40%;
		width: 20%;
	}
	.product .add-to-cart .add-to-cart-btn {
		height: 50px;
		font-size: 11px;
	}
	.how-pos3 {
		top: 0%;
		right: 0%;
	}
	.news_products_content {
		background-size: cover;
		background-position-x: 6%;
		height: 550px;
	}
	.rower {
		width: 100%;
	}
	.divAllProducts {
		padding-left: 0;
		min-width: 900px;
	}
	.product-line {
		min-width: 500px;
	}
	.wrap-pic-w img {
		max-width: 150px !important;
	}
}
@media (width:1366px) and (height:1024px) {
	.postion_img_main {
		height: 662px;
	}
	.position_img_right {
		height: 620px;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 50%;
	}
}
@media (width:1280px) and (height:720px) {
	.postion_img_main {
		height: calc(84.5%);
	}
	.position_img_right {
		height: calc(82.8%);
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 50%;
		margin-bottom: 0%;
	}
	.wrap-pic-w img {
		height: 250px !important;
	}
}
@media (width:1280px) and (height:800px) {
	.divAllProducts {
		padding-left: 0%;
	}
	.postion_img_main {
		height: calc(76.1%);
	}
	.position_img_right {
		height: calc(74.5%);
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 47%;
		margin-bottom: 0;
	}
	.product .add-to-cart {
		margin-left: 8%;
	}
	.wrap-modal1 {
		top: 20vh !important;
	}
	.wrap-pic-w img {
		height: 250px !important;
	}
	.how-pos3 {
		top: 0%;
		right: 1%;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 120px;
	}
	.news_products_content {
		height: 700px;
	}
	.footer {
		height: 0px;
	}
}
@media (width:1280px) and (height:950px) {
	.divAllProducts {
		padding-left: 0%;
	}
	.how-pos3 {
		top: 0;
		right: 4%;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		margin-top: 5%;
	}
	.postion_img_main {
		height: 609px;
	}
	.position_img_right {
		height: 596px;
	}
	.product .add-to-cart {
		margin-left: 10%;
	}
	.news_products_content {
		height: 740px;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 47%;
	}
	.footer {
		height: 0px;
	}
}
@media (width:1280px) and (height:1024px) {
	.postion_img_main {
		height: calc(60.33%);
	}
	.position_img_right {
		height: calc(59.094%);
	}
	.news_products_content {
		margin-top: -1px;
	}
}
@media (width:1366px) and (height:657px) {
	.main_content_position {
		width: 50%;
	}
}
@media (width:1366px) and (height:768px) {
	.postion_img_main {
		height: calc(85.1%);
	}
	.position_img_right {
		height: calc(79.7%);
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 50%;
		margin-bottom: 0;
	}
	.how-pos3 {
		top: 15%;
		right: 7%;
	}
}
@media (width:1440px) and (height:900px){
	.divAllProducts {
		padding-left: 0%;
	}
}
@media (width:1920px) and (height:969px) {
	.news_products_content {
		width: 100.08%;
		margin-left: -2px;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		margin-top: 10%;
	}
	.how-pos3 {
		top: 10%;
		right: 17%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 38%;
		margin-bottom: 0;
		width: 10%;
	}
	.footer {
		height: 0;
	}
}
@media (width:1920px) and (height:1080px) {
	.postion_img_main {
		height: calc(84.7%);
	}
	.position_img_right {
		height: calc(89%);
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		margin-top: 10%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 38%;
		margin-bottom: 0;
	}
	.how-pos3 {
		top: 9%;
		right: 18%;
	}
	.footer {
		height: 0;
	}
}
@media (width:1920px) and (height:1200px) {
	.postion_img_main {
		height: calc(76.2%);
	}
	.position_img_right {
		height: calc(80%);
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 38%;
		margin-bottom: 0;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		margin-top: 10%;
	}
	.how-pos3 {
		top: 9%;
		right: 18%;
	}
	.footer {
		height: 0;
	}
}

/*
================================================================================
										PRECISO END
================================================================================
*/