@media screen and (max-width: 899px) {

	.search-inline {
		z-index: 1601;
	}
	.menu .enlaces #tienda {
		display: none;
	}
	.menu #enlaces #tienda2 {
		display: block;
	}
	#enlaces{
		flex-direction: column;
	}
	header .menu .logo .btn-menu {
		display: flex;
		flex-direction: column;
		margin-top: auto;
		margin-bottom: auto;
	}
	header .menu .enlaces {
		overflow: scroll;
	}
	.main {
		display: flex;
		flex-direction: column-reverse;
	}
	.main_content_position {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		position: relative;
	}
	.main_tittle {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		color: var(--color_third);
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.main_tittle>h1 {
		font-size: 38px;
		margin-top: 20%;
	}
	.main .main_content_position .btn_main {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		height: 50px;
		width: 70%;
		justify-content: center;
	}
	.postion_img_main {
		height: 45.7%;
		width: 70%;
		margin-left: -25%;
    margin-right: -25%;
		z-index: 1500;
		margin-top: -400px;
	}
	.main_img {
    height: 100.1%;
    width: 400px;
    z-index: 1500;
}
	.postion_bar_right {
		display: none;
	}
	.position_img_right {
		margin-top: 55%;
		position: relative;
	}
	.imgRight1 {
		height: 200px;
		width: 100%;
		background-size: 100%;
		background-position-y: 0;
	}
	.imgRight2 {
		height: 200px;
		width: 100%;
		background-size: 100%;
		background-position-y: 66%;
	}
	.most_sold_content .itemStar {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.section-title {
		position: relative;
		margin-bottom: 0;
		padding-top: 4%;
	}
	.section-title .title {
		margin-top: 5%;
		margin-left: 22%;
		margin-right: 22%;
	}
	.rower{
		width:100%;
	}
	.line_buttons_category {
		display: none;
	}
	.product-line {
		display: flex;
		flex-direction: column;
		width: 88%;
	}
	#list_product .product-line {
		display: flex;
		flex-direction: column;
		width: 90%;
	}
	.despliega{
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		height: 5vh;
		max-height: 5vh;
		overflow: scroll;
	}
	.despliega:hover{
		max-height: 30vh;
		height: 100vh;
		transition: all 0.5s ease;
		width:100%
	}
	.content_more_main {
		top: 0;
		left: 0;
		right: 0;
		position: relative;
	}
}

@media screen and (max-width: 768px) {
	header .menu {
		flex-direction: column;
	}
	header .menu .logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 1em;
	}
	header .menu .logo .btn-menu {
		display: inline-block;
	}
	header .menu .enlaces {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.most_sold_content {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.most_sold_items {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
}
	.most_sold_content .tittle_most_sold {
    font-size: 11px;
    width: 100%;
    margin-left: 1%;
}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 125%;
		margin-left: 5%;
		width: 40%;
	}
	.redes {
		width: 100%;
		margin-top: 5%;
		height: 30%;
		border: none;
	}
	.product {
		width: 100%;
	}
	.product .product-img>img {
		width: 70%;
		margin-left: 15%;
		height: 100%;
		margin-top: 0;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 90% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.block_category {
		padding-left: 16%;
		padding-right: 10%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
	.footer {
		width: 100%;
	}
}

@media screen and (max-width:425px) {
	
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}

	.main .postion_img_main {
		height: 45.7%;
		width: 70%;
		margin-left: -25px;
		margin-right: -25%;
		z-index: 1500;
		margin-top: -400px;
	}

	.most_sold_items {
		margin-top: 25%;
	}
	body .most_sold_content .tittle_most_sold {
    font-size: 11px;
    width: 100%;
    margin-left: 0%;
	}
	.img_most_sold {
    width: 100%;
    height: 70%;
    margin-left: 0%;
	
	}
	.img_most_sold_mid {
    width: 100%;
    margin-left: 0%;
	}
	.most_sold_items .items_star {
		margin-right: 0%;
		margin-left: 19.5%;
		margin-bottom: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.main_button {
		margin-top: 12%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 30%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 690px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.product {
		width: 100%;
	}
	.product .product-img>img {
		width: 70%;
		margin-left: 15%;
		height: 100%;
		margin-top: 0;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 150px !important;
		width: 150px !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.products-tabs .block_category {
    padding-left: 23%;
    padding-right: 10%;
}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
}

@media screen and (max-width:411px){
	.icon_hipervinculos {
		display: flex;
		flex-direction: row;
		margin-right: 25%;
		margin-left: 10%;
	}
	.main .postion_img_main {
		height: 280px;
	}
}


@media screen and (max-width:375px) {
	.nav {
		height: 62px;
	}
	.wizard-card[data-color="azzure"] .moving-tab {
		padding: 13px;
		height: 62px;
	}
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.main .postion_img_main {
		min-width: 300px;
		height: 300px;
		width: 70%;
		margin-left: -13%;
		margin-right: -25%;
		z-index: 1500;
		margin-top: -400px;
	}
	.most_sold_items {
		margin-top: 25%;
		margin-bottom: 15px;
	}
	body .most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 100%;
		margin-left: 0%;
	}
	.img_most_sold {
		width: 100%;
		height: 70%;
		margin-left: 0%;
	}
	.img_most_sold_mid {
		width: 100%;
		margin-left: 0;
	}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.divAllProducts {
		padding-left: 10%;
	}
	.rower {
		width: 100%;
	}
	#list_product .product-line {
		width: 98%;
	}
	.product {
		width: 100%;
	}
	.product .product-img>img {
		width: 70%;
		margin-left: 15%;
		height: 100%;
		margin-top: 0;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 10% !important;
		width: 70% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.products-tabs .block_category {
		padding-left: 15%;
		padding-right: 0%;
		width: 100%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
	.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
}

@media screen and (max-width:320px) {
	
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.main .postion_img_main {
		height: 250px;
		width: 60%;
		margin-left: -11%;
		margin-right: -25%;
		z-index: 1500;
		margin-top: -400px;
	}
	.main .postion_img_main .main_img {
		height: 100.1%;
		width: 320px;
		z-index: 1500;
		margin-left: 10px;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.most_sold_items {
		margin-top: 25%;
	}
	body .most_sold_content .tittle_most_sold {
    	font-size: 11px;
    	width: 100%;
    	margin-left: 0%;
	}
	.img_most_sold {
    	width: 100%;
    	height: 70%;
    	margin-left: 0%;
	}
	.img_most_sold_mid {
    	width: 145%;
    	margin-left: -28%;
	}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.star1 {
		margin-top: -55%;
		margin-left: 16%;
		width: 50%;
	}
	.star2 {
		margin-top: -35%;
		margin-left: 023%;
		width: 40%;
		height: 35%;
	}
	.star3 {
		margin-top: -60%;
		margin-left: 23%;
		width: 50%;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
    	margin-top: 165%;
    	margin-left: 25%;
    	margin-right: 25%;
    	width: 50%;
	}
	.footer .redes {
		width: 90%;
		margin-top: 5%;
		height: 30%;
		border: none;
	}
	.product {
		width: 100%;
	}
	.product .product-img>img {
		width: 70%;
		margin-left: 15%;
		height: 100%;
		margin-top: 0;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 180px !important;
		width: 150px !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.block_category {
		padding-left: 16%;
		padding-right: 10%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.wizard-card .wizard-header h3 {
		font-weight: 400;
	}
	.wizard-card .wizard-header small {
		font-size: 60%
	}
	.wizard-card .wizard-footer {
		padding: 0 50px;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		margin-left: auto;
	}
	.container_links {
		border-right: none;
		width: 90%;
		margin-left: 0.5%;
	}
	.footer_links {
		width: 100%;
	}
	.tittle_red {
		margin-left: 3%;
	}
	.icon_hipervinculos {
		display: flex;
		flex-direction: row;
		margin-right: 25%;
		margin-left: 10%;
	}
	.icon_a {
		width: 100%;
		margin-top: 5%;
		margin-left: 0%;
		margin-right: 0;
	}
	.icon_a img {
		width: 80%;
		margin-left: 30%;
		margin-right: 30%;
	}
	.link_footer {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
	.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
	.footer_email {
		display: flex;
		margin-top: 40%;
		margin-left: 10%;
		width: 90%;
	}
	.footer_email h5 {
		text-align: center;
	}
	.footer_links .accordion {
    display: block;
    margin-left: -3%;
    width: 115%;
	}
}

@media screen and (max-width:240px){
	.wizard-card[data-color="azzure"] .moving-tab {
		padding: 13px;
		height: 74px;
	}
	.wizard-card .wizard-footer {
		padding: 0 20px;
	}
}
/*
==================================================================================================================
										PRECISAS
==================================================================================================================
*/

@media (width:320px) and (height:568px){
	.main .postion_img_main {
		height: 45%;
	}
	.main_tittle {
		margin-left: 15%;
		margin-right: 0;
	}
	.rower {
		width: 95%;
	}
	.divAllProducts {
		padding-left: 0%;
		margin-left: auto;
		margin-right: auto;
	}
	.divAllProducts .product-line {
		width: 100%;
	}
	.products-tabs .block_category {
		padding-left: 5%;
		padding-right: 5%;
		width: 100%;
		margin-left: 10%;
	}
	.main .postion_img_main .main_img {
		margin-left: 10px;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.content_more_main {
		top: 1%;
	}
}

@media (width:568px) and (height:320px){
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 29%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -874px;
	}
	.main_tittle {
		width: 50%;
		margin-left: 10%;
		margin-right: 0;
	}
	.most_sold_items {
		margin-top: 15%;
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	.img_most_sold {
		width: 50%;
		height: 70%;
		margin-left: 0;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 45%;
	}
	.main .main_content_position .btn_main {
		margin-left: 11%;
		margin-right: 0;
		width: 35%;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.divAllProducts .product {
		margin: 30px 30px 30px 20px;
	}
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
		margin-left: 55%;
		margin-right: -90%;
	}
	.divAllProducts .product .product-img>img {
		width: 30%;
		margin-left: 35%;
	}	
	.product .product-img>img {
		width: 50%;
		margin-left: 28%;
	}
	.main_img {
		height: 370px;
		width: 400px;
		z-index: 1500;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: 125%;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}

	.img_most_sold_mid {
		width: 50%;
		margin-left: 10%;
	}

	.section-title .title {
		margin-top: 5%;
		margin-left: 35%;
		margin-right: 35%;
	}

	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}

	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-bottom: 0;
		width: 40%;
		margin-left: 30%;
		margin-right: 30%;
	}
	.content_more_main {
		top: 0;
		left: 3px;
		position: relative;
	}
}

@media (width:360px) and (height:640px){
	#enlaces {
		display: flex;
		flex-direction: column;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .postion_img_main {
		margin-left: -45px;
		height: 45%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.wrap-modal1 {
		top: 5% !important;
	}
}

@media (width:640px) and (height:360px){
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	.main .main_content_position .btn_main {
		width: 50%;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 29%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -889px;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 17%;
		padding-right: 10%;
	}
	.main_img {
		height: 397px;
		width: 450px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: 125%;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}
	.img_most_sold_mid {
		width: 100%;
		margin-left: 0;
	}
	.most_sold_items {
		margin-bottom: 30px;
	}
	.section-title .title {
		margin-top: 5%;
		margin-left: 35%;
		margin-right: 35%;
	}
	#list_product .product-line {
		width: 100%;
	}
	.block_category .product {
		margin: 30px 40px 30px 80px;
	}
	.product .product-img>img {
		width: 60%;
		margin-left: 20%;
	}
	.wrap-pic-w img {
		height: 150px !important;
		width: 170px !important;
		margin-left: 80px;
	}
	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
	}
	.footer {
		flex-direction: column;
		height: 0;
	}
}

@media (width:375px) and (height:667px){
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
		margin-left: -8%;
	}
	.main .postion_img_main {
		height: 45%;
    	margin-left: -45px;
	}
	#list_product .product {
    	margin: 30px 10px 30px 55px;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.wrap-modal1 {
		top: 3% !important;
	}
	.nav {
		height: 50px;
	}
}

@media (width:667px) and (height:375px){
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 29%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -885px;
	}

	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}

	.products-tabs .block_category {
		padding-left: 17%;
		padding-right: 10%;
	}
	.main_img {
		height: 397px;
		width: 400px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}

	.img_most_sold_mid {
		width: 145%;
		margin-left: -29%;
	}

	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}

	.divAllProducts {
		padding-left: 6%;
		background-color: #FEFEFE;
		margin-left: 15%;
	}

	.divAllProducts .product {
		width: 70%;
	}

	.divAllProducts .product .product-img>img {
		width: 40%;
		margin-left: 30%;
		height: 100%;
		margin-top: 0;
	}

	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}

	#list_product .product{
		margin: 30px 40px 30px 60px;
	}

	.section-title .title {
		margin-left: 35%;
		margin-right: 35%;
	}

	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 28%;
	}
	.icon_hipervinculos {
		margin-right: 50%;
	}
	.footer {
		flex-direction: column;
		height: 200px;
	}
	.redes {
		width: 95%;
	}
	.accordion {
		width: 600px;
	}
	.container_links {
		margin-top: -25%;
	}
	.footer_email h5{
		margin-top: 15%;
	}
}

@media (width:411px) and (height:731px) {
	#list_product .product-line {
    	width: 100%;
	}

	.main_button {
		margin-top: 25%;
	}

	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.despliega:hover {
		height: 90vh;
	}
} 

@media (width:731px) and (height:411px){
	.despliega {
		height: 8vh;
		max-height: 8vh;
		overflow: scroll;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 29%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -906px;
	}
	.main_tittle {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		color: var(--color_third);
		width: 50%;
		margin-left: 15%;
		margin-right: 0;
	}
	.main .main_content_position .btn_main {
		display: flex;
		margin-left: 15%;
		margin-right: 0;
		height: 50px;
		width: 30%;
		justify-content: center;
	}

	.most_sold_items {
		margin-top: 15%;
		margin-bottom: 30px;
	}
	.img_most_sold {
		display: flex;
		width: 50%;
		height: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.most_sold_name {
		margin-top: 3%;
	}
	.wrap-pic-w img {
		height: 20%;
		width: 50%;
	}
	.products-tabs .block_category {
		padding-left: 17%;
		padding-right: 10%;
	}
	.main_img {
		height: 430px;
		width: 500px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}

	.img_most_sold_mid {
		width: 50%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}

	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}

	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}

	#list_product .product{
		margin: 30px 40px 30px 60px;
	}

	.section-title .title {
		margin-left: 35%;
		margin-right: 35%;
	}

	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		width: 30%;
		margin-left: 35%;
		margin-right: 35%;
	}
}

@media (width:411px) and (height:823px) {
	.main .postion_img_main {
		height: 40%;
	}
	.products-tabs .block_category {
     padding-left: 0%; 
     padding-right: 0%; 
	}
	#list_product .product-line {
    width: 100%;
	}
	#list_product .product {
    margin: 30px 10px 30px 50px;
	}
	.main_button {
		margin-top: 35%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.despliega:hover {
		height: 90vh;
	}
}

@media (width:823px) and (height:411px){
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	header .menu {
		flex-direction: column;
	}
	header .menu .logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 1em;
	}
	header .menu .logo .btn-menu {
		display: inline-block;
	}
	header .menu .enlaces {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.main_content_position {
		margin-right: 50%;
	}
	.main .main_content_position .btn_main {
		width: 50%;
	}
	.most_sold_content {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.most_sold_items {
		margin-top: 12%;
		display: flex;
		flex-direction: column;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 30px;
	}
	.most_sold_content .tittle_most_sold {
    font-size: 11px;
    width: 100%;
    margin-left: 1%;
}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 125%;
		margin-left: 5%;
		width: 40%;
	}
	.redes {
		width: 100%;
		margin-top: 5%;
		height: 30%;
		border: none;
	}
	.divAllProducts {
		padding-left: 0;
		padding-right: 0;
		margin-left: 25%;
	}
	.divAllProducts .product {
		width: 70%;
	}
	.divAllProducts .product .product-img>img {
		width: 50%;
		margin-left: 26%;
	}
	#list_product .product .product-img>img {
		width: 50%;
		margin-left: 25%;
		height: 100%;
		margin-top: 0;
	}
	#list_product .product {
		width: 100%;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 60% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.block_category {
		padding-left: 16%;
		padding-right: 10%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}	
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 23%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -874px;
	}

	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
		margin-left: 55%;
		width: 100%;
	}
	.main_img {
		height: 397px;
		width: 400px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}

	.img_most_sold_mid {
		width: 100%;
		margin-left: 0;
	}

	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}

	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}

	#list_product .product{
		margin: 30px 40px 30px 60px;
	}

	.section-title .title {
		margin-left: 39%;
		margin-right: 39%;
	}	

	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 35%;
		margin-right: 35%;
		width: 25%;
	}
}

@media (width:414px) and (height:736px) {
	.products-tabs .block_category {
     padding-left: 0%; 
     padding-right: 0%; 
	}
	#list_product .product-line {
    width: 100%;
	}
	#list_product .product {
    margin: 30px 10px 30px 60px;
	}
	.main_button {
		margin-top: 25%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
	.wrap-pic-w img {
		width: 60% !important;
	}
	.despliega:hover {
		height: 90vh;
	}
}

@media (width:736px) and (height:414px){
	.product-line {
		width: 100%;
		margin-left: 10%;
		margin-right: 25%;
	}
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	.main_tittle {
		margin-left: 10%;
		margin-right: 0;
	}
	.main .main_content_position .btn_main {
		margin-left: 10%;
		margin-right: 0;
		width: 30%;
	}
	.postion_img_main {
		height: 38%;
		margin-top: -873px;
		margin-left: 27%;
	}
	.img_most_sold {
		width: 60%;
		height: 70%;
		margin-left: 15%;
	}
	.most_sold_name {
		margin:10% 35% 60px 20%;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 20%;
		padding-right: 10%;
	}
	.main_img {
		height: 430px;
		width: 400px;
	}
	.wrap-pic-w img {
		height: 100px !important;
		width: 110px !important;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}
	.img_most_sold_mid {
		width: 80%;
		margin-left: 5%;
	}
	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}
	.divAllProducts .product .product-img>img {
		width: 50%;
		margin-left: 25%;
		height: 100%;
		margin-top: 0;
	}
	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}
	#list_product .product{
		margin: 30px 40px 30px 60px;
	}
	.section-title .title {
		margin-left: 35%;
		margin-right: 35%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
	}
}

@media (width:375px) and (height:812px){
	.main_img {
		width: 410px;
	}
	.main .postion_img_main {
	margin-left: -45px;
	height: 40%;
    width: 70%;
	}
	.position_img_right {
		margin-top: 45%;
	}
	.products-tabs .block_category {
    padding-left: 0;
    padding-right: 0;
	}
	.despliega:hover {
		height: 80vh;
	}
	#list_product .product{
	    margin: 30px 10px 30px 40px;
	}
	.main_button {
		margin-top: 50%;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 28%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.news_products_content .new_produc_main .button_new_product .btn_new_prod {
		margin-top: 115%;
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
	}
}

@media (width:812px) and (height:375px){
	.despliega{
		height: 8vh;
		max-height: 8vh;
	}
	.despliega:hover {
		height: 110vh;
		max-height: 120vh;
	}
	header .menu {
		flex-direction: column;
	}
	header .menu .logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 1em;
	}
	header .menu .logo .btn-menu {
		display: inline-block;
	}
	header .menu .enlaces {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.most_sold_content {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.most_sold_items {
		margin-top: 25%;
		display: flex;
		flex-direction: column;
		margin-left: 25%;
		margin-right: 25%;
	}
	.most_sold_content .tittle_most_sold {
    font-size: 11px;
    width: 100%;
    margin-left: 1%;
}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.star1 {
		margin-top: -55%;
		margin-left: 16%;
		width: 50%;
	}
	.star2 {
		margin-top: -35%;
		margin-left: 023%;
		width: 40%;
		height: 35%;
	}
	.star3 {
		margin-top: -60%;
		margin-left: 23%;
		width: 50%;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 125%;
		margin-left: 5%;
		width: 40%;
	}
	.redes {
		width: 100%;
		margin-top: 5%;
		height: 30%;
		border: none;
	}
	.divAllProducts {
		padding-left: 0;
		padding-right: 0;
		margin-left: 25%;
	}
	.divAllProducts .product {
		width: 70%;
	}
	.divAllProducts .product .product-img>img {
		width: 50%;
		margin-left: 26%;
	}
	#list_product .product .product-img>img {
		width: 50%;
		margin-left: 25%;
		height: 100%;
		margin-top: 0;
	}
	#list_product .product {
		width: 100%;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 90% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.block_category {
		padding-left: 16%;
		padding-right: 10%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.wizard-card .wizard-header h3 {
		font-weight: 400;
	}
	.wizard-card .wizard-header small {
		font-size: 60%
	}
	.wizard-card .wizard-footer {
		padding: 0 50px;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		margin-left: auto;
	}
	.container_links {
		border-right: none;
		width: 90%;
		margin-left: 0.5%;
	}
	.footer_links {
		width: 100%;
	}
	.tittle_red {
		margin-left: 3%;
	}
	.icon_hipervinculos {
		display: flex;
		flex-direction: row;
		margin-right: 25%;
		margin-left: 10%;
	}
	.icon_a {
		width: 100%;
		margin-top: 5%;
		margin-left: 0%;
		margin-right: 0;
	}
	.icon_a img {
		width: 80%;
		margin-left: 30%;
		margin-right: 30%;
	}
	.link_footer {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
	.footer {
		width: 100%;
	}
	.footer_email {
		display: flex;
		margin-top: 40%;
		margin-left: 10%;
		width: 90%;
	}
	.footer_email h5 {
		text-align: center;
	}
	.accordion {
		margin-left: -0.5%;
		width: 320px;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 23%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -874px;
	}

	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
		margin-left: 55%;
		width: 100%;
	}
	.main_img {
		height: 386px;
		width: 400px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}

	.img_most_sold_mid {
		width: 145%;
		margin-left: -29%;
	}

	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}

	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}

	#list_product .product{
		margin: 30px 40px 30px 60px;
	}

	.section-title .title {
		margin-left: 39%;
		margin-right: 39%;
	}	

	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 28%;
	}
	.icon_hipervinculos {
		margin-right: -50px;
	}
	.footer {
		flex-direction: column;
		height: 150px;
	}
	.redes {
		width: 95%;
	}
	.accordion {
		width: 790px;
	}
	.container_links {
		margin-top: 10%;
	}
	.footer_email h5{
		margin-top: 10%;
	}
}

@media (width:768px) and (height:1024px){
	.despliega:hover {
		max-height: 20vh;
	}
	.menu .logo {
    display: flex;
	}
	.menu .logo .btn-menu {
    	margin-left: 550px;
	}
	.postion_img_main {
		margin-left: 0%;
		margin-top: -900px;
	}
	.main_img {
    	width: 700px;
	}
	.main .main_content_position .btn_main {
		position: absolute;
		margin-top: 300px;
		margin-left: 285px;
		margin-right: 285px;
		width: 25%;
	}
	.imgRight1 {
		height: 400px;
		background-size: 130%;
    	background-position-y: 45%;
	}
	.imgRight2 {
    	height: 500px;
	}
	.most_sold_content {
    	margin-top: 0%;
	}
	.most_sold_content .tittle_most_sold{
		width: 99%;
	}
	.items_star {
		margin-left: 45%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 690px;
		width: 35%;
		margin-bottom: 0;
		margin-left: 32%;
	}
	.most_sold_items {		
		margin-top: 15%;
		margin-bottom: 40px;
	}
	.news_products_content {
		background-size: cover;
		background-position-x: 15%;
		margin-left: 0;
	}
	.footer{
		height: 160px;
	}
	.section-title .title {
		margin-top: 5%;
		margin-left: 40%;
		margin-right: 40%;
	}
	.allProducts {
		min-height: 780px;
	}
	.allProducts .rower {
		width: 100%;
	}
	.divAllProducts {
		padding-left: 0;
		margin-left: 40%;
		background-color: #FEFEFE;
		width: 100%;
	}
	.divAllProducts .product-line {
		width: 100%;
	}
	.divAllProducts .product{
		width: 90%;
	}
	.rower .products-tabs{
		width: 60%;
	}
	.content_more_categorias {
		height: 550px;
	}
	.block_category .product .product-img>img {
		width: 50%;
		margin-left: 25%;
	}
	.block_category {
		padding-left: 0;
		padding-right: 0;
		margin-left: 44%;
		width: 95%;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 90% !important;
	}
}

@media (width:1024px) and  (height:768px){	
	.menu {
		width: 99%;
	}
	.postion_img_main {
		height: 475px;
		margin-top: 7px;
		margin-left: 5%;
		margin-right: 45%;
	}
	.position_img_right {
		height: 465px;
	}
	.main_content_position {
		margin-top: 15%;
		margin-left: 5%;
		margin-right: 5%;
		width: 61%;
	}
	.main .main_content_position .btn_main {
		width: 30%;
	}
	.imgRight1{
		background-size: 145%;
    	background-position-y: 30%;
	}
	.news_products_content {
		height: 600px;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 45%;
		margin-left: 40%;
		margin-right: 40%;
		width: 20%;
	}
	.rower {
		width: 100%;
	}
	.allProducts {
		min-height: 680px;
	}
	.divAllProducts .product-line {
		flex-direction: column;
		flex-wrap: nowrap;
		margin-right: auto;
		margin-left: auto;
	}
	#list_product .product-line {
		display: flex;
		flex-direction: row;
		margin-left: 14%;
		margin-right: -25%;
	}
	.product .add-to-cart .add-to-cart-btn {
		height: 50px;
		font-size: 11px;
	}
	.how-pos3 {
		top: 9%;
		right: 4%;
	}
	.product .add-to-cart {
		margin-left: 5%;
	}
	.content_more_categorias {
		height: 450px;
	}
	#cart_items {
		min-height: 700px;
	}
}

@media (width:1024px) and  (height:1366px){	
	.content_more_categorias {
		height: 480px;
	}
	.enc {
		margin-right: 30%;
	}
	.postion_img_main {
		height: 480px;
		margin-top: 2px;
		margin-left: 0;
		margin-right: 45%;
	}
	.position_img_right {
		height: 465px;
	}
	.main_content_position {
		margin-top: 215px;
	}
	.imgRight1 {
		background-size: 145%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 45%;
		margin-left: 37%;
		margin-right: 37%;
		width: 25%;
	}
	.product .add-to-cart .add-to-cart-btn {
		height: 50px;
		font-size: 11px;
	}
	.line_buttons_category {
		width: 100%;
	}
	#list_product .product {
		width: 280px;
	}
	.how-pos3 {
		top: 9%;
		right: 4%;
	}
	.news_products_content {
		background-size: cover;
		background-position-x: 15%;
		height: 40vh;
	}
	.footer {
		height: 505px;
	}
}

@media (width:1366px) and (height:1024px) {
	.content_more_categorias {
		height: 450px;
	}
	.allProducts {
		min-height: 810px;
	}
	.divAllProducts {
		margin-left: -20%;
	}
	.divAllProducts .product-line {
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}
	.divAllProducts .product {
		width: 300px;
	}
	.block_category {
		padding-left: 0;
		margin-right: -50%;
		margin-left: 3%;
		max-width: 100%;
	}
	#list_product .product-line {
		margin-right: -60%;
		width: 100%;
	}
	#list_product .product {
		margin: 30px 80px 30px 10px;
		width: 280px;
	}
	.postion_img_main {
		height: 662px;
		margin-top: -17px;
		margin-left: 0;
		margin-right: 40%;
	}
	.position_img_right {
		height: 620px;
	}
	.product .add-to-cart {
		width: 100%;
		margin-left: 0;
	}
	.imgRight1 {
		width: 400px;
		background-size: 160%;
		background-position-y: 40%;  
	}
	.imgRight2 {
		width: 400px; 
	}
	.rower {
		width: 100%;
		margin-left: 5%;
		margin-right: 5%;
	}
	.how-pos3 {
		top: 10%;
		right: 7%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 50%;
		margin-left: 40%;
		margin-right: 40%;
		width: 20%;
	}
	.footer {
		height: 160px;
	}
}

/*
========================================== END PRECISAS =======================================================
*/


@media (width:568px){
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 29%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -874px;
	}
	.main_tittle {
		width: 50%;
		margin-left: 10%;
		margin-right: 0;
	}
	.most_sold_items {
		margin-top: 15%;
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	.img_most_sold {
		width: 50%;
		height: 70%;
		margin-left: 0;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 45%;
	}
	.main .main_content_position .btn_main {
		margin-left: 11%;
		margin-right: 0;
		width: 35%;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.divAllProducts .product {
		margin: 30px 30px 30px 20px;
	}
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
		margin-left: 55%;
		margin-right: -90%;
	}
	.divAllProducts .product .product-img>img {
		width: 30%;
		margin-left: 35%;
	}	
	.product .product-img>img {
		width: 50%;
		margin-left: 28%;
	}
	.main_img {
		height: 370px;
		width: 400px;
		z-index: 1500;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: 125%;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}

	.img_most_sold_mid {
		width: 50%;
		margin-left: 10%;
	}

	.section-title .title {
		margin-top: 5%;
		margin-left: 35%;
		margin-right: 35%;
	}

	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}

	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-bottom: 0;
		width: 40%;
		margin-left: 30%;
		margin-right: 30%;
	}
	.content_more_main {
		top: 0;
		left: 3px;
		position: relative;
	}
}

@media (width:640px){
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	.main .main_content_position .btn_main {
		width: 50%;
	}
	.postion_img_main {
        height: 40%;
        width: 70%;
        margin-left: 29%;
        margin-right: 0;
        z-index: 1500;
        margin-top: -889px;
    }
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 17%;
		padding-right: 10%;
	}
	.main_img {
        height: 402px;
        width: 450px;
    }
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: 125%;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}
	.img_most_sold_mid {
        width: 45%;
        margin-left: 28%;
    }
	.most_sold_items {
		margin-bottom: 30px;
	}
    	.img_most_sold {
        width: 45%;
        height: 70%;
        margin-left: 20%;
    }
	.section-title .title {
		margin-top: 5%;
		margin-left: 35%;
		margin-right: 35%;
	}
	#list_product .product-line {
		width: 100%;
	}
	.block_category .product {
		margin: 30px 40px 30px 80px;
	}
	.product .product-img>img {
		width: 60%;
		margin-left: 20%;
	}
	.wrap-pic-w img {
		height: 150px !important;
		width: 170px !important;
		margin-left: 80px;
	}
	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
	    margin-left: 30%;
	}
	.footer {
		flex-direction: column;
		height: 0;
	}
}

@media (width:667px){
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 29%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -885px;
	}

	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}

	.products-tabs .block_category {
		padding-left: 17%;
		padding-right: 10%;
	}
	.main_img {
		height: 397px;
		width: 400px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}

	.img_most_sold_mid {
		width: 145%;
		margin-left: -29%;
	}

	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}

	.divAllProducts {
		padding-left: 6%;
		background-color: #FEFEFE;
		margin-left: 15%;
	}

	.divAllProducts .product {
		width: 70%;
	}

	.divAllProducts .product .product-img>img {
		width: 40%;
		margin-left: 30%;
		height: 100%;
		margin-top: 0;
	}

	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}

	#list_product .product{
		margin: 30px 40px 30px 60px;
	}

	.section-title .title {
		margin-left: 35%;
		margin-right: 35%;
	}

	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 28%;
	}
	.icon_hipervinculos {
		margin-right: 50%;
	}
	.footer {
		flex-direction: column;
		height: 200px;
	}
	.redes {
		width: 95%;
	}
	.accordion {
		width: 600px;
	}
	.container_links {
		margin-top: -25%;
	}
	.footer_email h5{
		margin-top: 15%;
	}
}

@media (width:731px){
	.despliega {
		height: 8vh;
		max-height: 8vh;
		overflow: scroll;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 29%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -906px;
	}
	.main_tittle {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		color: var(--color_third);
		width: 50%;
		margin-left: 15%;
		margin-right: 0;
	}
	.main .main_content_position .btn_main {
		display: flex;
		margin-left: 15%;
		margin-right: 0;
		height: 50px;
		width: 30%;
		justify-content: center;
	}

	.most_sold_items {
		margin-top: 15%;
		margin-bottom: 30px;
	}
	.img_most_sold {
		display: flex;
		width: 50%;
		height: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.most_sold_name {
		margin-top: 3%;
	}
	.wrap-pic-w img {
		height: 20%;
		width: 50%;
	}
	.products-tabs .block_category {
		padding-left: 17%;
		padding-right: 10%;
	}
	.main_img {
		height: 430px;
		width: 500px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}

	.img_most_sold_mid {
		width: 50%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}

	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}

	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}

	#list_product .product{
		margin: 30px 40px 30px 60px;
	}

	.section-title .title {
		margin-left: 35%;
		margin-right: 35%;
	}

	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		width: 30%;
		margin-left: 35%;
		margin-right: 35%;
	}
}

@media (width:823px){
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	header .menu {
		flex-direction: column;
	}
	header .menu .logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 1em;
	}
	header .menu .logo .btn-menu {
		display: inline-block;
	}
	header .menu .enlaces {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.main_content_position {
		margin-right: 50%;
	}
	.main .main_content_position .btn_main {
		width: 50%;
	}
	.most_sold_content {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.most_sold_items {
		margin-top: 12%;
		display: flex;
		flex-direction: column;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 30px;
	}
	.most_sold_content .tittle_most_sold {
    font-size: 11px;
    width: 100%;
    margin-left: 1%;
}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 125%;
		margin-left: 5%;
		width: 40%;
	}
	.redes {
		width: 100%;
		margin-top: 5%;
		height: 30%;
		border: none;
	}
	.divAllProducts {
		padding-left: 0;
		padding-right: 0;
		margin-left: 25%;
	}
	.divAllProducts .product {
		width: 70%;
	}
	.divAllProducts .product .product-img>img {
		width: 50%;
		margin-left: 26%;
	}
	#list_product .product .product-img>img {
		width: 50%;
		margin-left: 25%;
		height: 100%;
		margin-top: 0;
	}
	#list_product .product {
		width: 100%;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 60% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.block_category {
		padding-left: 16%;
		padding-right: 10%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}	
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 23%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -874px;
	}

	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
		margin-left: 55%;
		width: 100%;
	}
	.main_img {
		height: 397px;
		width: 400px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}

	.img_most_sold_mid {
		width: 100%;
		margin-left: 0;
	}

	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}

	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}

	#list_product .product{
		margin: 30px 40px 30px 60px;
	}

	.section-title .title {
		margin-left: 39%;
		margin-right: 39%;
	}	

	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
		margin-left: 35%;
		margin-right: 35%;
		width: 25%;
	}
}

@media (width:736px){
	.product-line {
		width: 100%;
		margin-left: 10%;
		margin-right: 25%;
	}
	.despliega {
		height: 8vh;
		max-height: 8vh;
	}
	.main_tittle {
		margin-left: 10%;
		margin-right: 0;
	}
	.main .main_content_position .btn_main {
		margin-left: 10%;
		margin-right: 0;
		width: 30%;
	}
	.postion_img_main {
		height: 38%;
		margin-top: -873px;
		margin-left: 27%;
	}
	.img_most_sold {
		width: 60%;
		height: 70%;
		margin-left: 15%;
	}
	.most_sold_name {
		margin:10% 35% 60px 20%;
	}
	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 20%;
		padding-right: 10%;
	}
	.main_img {
		height: 430px;
		width: 400px;
	}
	.wrap-pic-w img {
		height: 100px !important;
		width: 110px !important;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}
	.img_most_sold_mid {
		width: 80%;
		margin-left: 5%;
	}
	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}
	.divAllProducts .product .product-img>img {
		width: 50%;
		margin-left: 25%;
		height: 100%;
		margin-top: 0;
	}
	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}
	#list_product .product{
		margin: 30px 40px 30px 60px;
	}
	.section-title .title {
		margin-left: 35%;
		margin-right: 35%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 700px;
	}
}

@media (width:812px){
	.despliega{
		height: 8vh;
		max-height: 8vh;
	}
	.despliega:hover {
		height: 110vh;
		max-height: 120vh;
	}
	header .menu {
		flex-direction: column;
	}
	header .menu .logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 1em;
	}
	header .menu .logo .btn-menu {
		display: inline-block;
	}
	header .menu .enlaces {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.search-inline .form-control {
		left: 5%;
		width: 42%;
	}
	.most_sold_content {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.most_sold_items {
		margin-top: 25%;
		display: flex;
		flex-direction: column;
		margin-left: 25%;
		margin-right: 25%;
	}
	.most_sold_content .tittle_most_sold {
    font-size: 11px;
    width: 100%;
    margin-left: 1%;
}
	.items_star {
		margin-right: 0%;
		margin-left: 20%;
	}
	.most_sold_name {
		margin-left: 0;
		margin-right: 0;
	}
	.star1 {
		margin-top: -55%;
		margin-left: 16%;
		width: 50%;
	}
	.star2 {
		margin-top: -35%;
		margin-left: 023%;
		width: 40%;
		height: 35%;
	}
	.star3 {
		margin-top: -60%;
		margin-left: 23%;
		width: 50%;
	}
	.news_products_content {
		background-image: url(../img/pag-rosa-02.jpg);
		background-size: cover;
		background-position-x: 25%;
		width: 100%;
		margin-left: 0;
	}
	.tittle_new_product {
		margin-top: 15%;
		margin-left: 10%;
		width: 100%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 125%;
		margin-left: 5%;
		width: 40%;
	}
	.redes {
		width: 100%;
		margin-top: 5%;
		height: 30%;
		border: none;
	}
	.divAllProducts {
		padding-left: 0;
		padding-right: 0;
		margin-left: 25%;
	}
	.divAllProducts .product {
		width: 70%;
	}
	.divAllProducts .product .product-img>img {
		width: 50%;
		margin-left: 26%;
	}
	#list_product .product .product-img>img {
		width: 50%;
		margin-left: 25%;
		height: 100%;
		margin-top: 0;
	}
	#list_product .product {
		width: 100%;
	}
	.product .add-to-cart {
		width: 85% !important;
	}
	.p-t-60, .p-tb-60, .p-all-60 {
		padding-top: 35px !important;
	}
	.p-b-30, .p-tb-30, .p-all-30 {
		padding-bottom: 15px !important;
	}
	.wrap-pic-w img {
		height: 20% !important;
		width: 90% !important;
	}
	.wrap-modal1 {
		position: fixed;
		width: 95%;
		height: 100vh;
		top: 9% !important;
		left: 0 !important;
	}
	.how-pos3 {
		position: absolute;
		top: 0%;
		right: 5%;
	}
	.wrap-modal1 .how-pos3-parent h1 {
		font-size: 18px;
	}
	.block_category {
		padding-left: 16%;
		padding-right: 10%;
	}
	.stext-101 {
		font-size: 15px;
		line-height: 2.5;
		text-transform: uppercase;
	}
	.btn_buy_modal {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.swal-modal {
		width: calc(100% - 40px);
		margin-left: 0%;
		margin-right: 5%;
	}
	.item {
		display: none !important;
	}
	#spanLeft {
		display: none;
	}
	#spanRight {
		display: none;
	}
	.wizard-card .wizard-header h3 {
		font-weight: 400;
	}
	.wizard-card .wizard-header small {
		font-size: 60%
	}
	.wizard-card .wizard-footer {
		padding: 0 50px;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		margin-left: auto;
	}
	.container_links {
		border-right: none;
		width: 90%;
		margin-left: 0.5%;
	}
	.footer_links {
		width: 100%;
	}
	.tittle_red {
		margin-left: 3%;
	}
	.icon_hipervinculos {
		display: flex;
		flex-direction: row;
		margin-right: 25%;
		margin-left: 10%;
	}
	.icon_a {
		width: 100%;
		margin-top: 5%;
		margin-left: 0%;
		margin-right: 0;
	}
	.icon_a img {
		width: 80%;
		margin-left: 30%;
		margin-right: 30%;
	}
	.link_footer {
		display: none;
	}
	.div_formulario_email {
		width: 80%;
	}
	.div_formulario_email .formulario_email .btn_send_form {
		width: 50%;
	}
	.footer {
		width: 100%;
	}
	.footer_email {
		display: flex;
		margin-top: 40%;
		margin-left: 10%;
		width: 90%;
	}
	.footer_email h5 {
		text-align: center;
	}
	.accordion {
		margin-left: -0.5%;
		width: 320px;
	}
	.postion_img_main {
		height: 30%;
		width: 70%;
		margin-left: 23%;
		margin-right: 0;
		z-index: 1500;
		margin-top: -874px;
	}

	.most_sold_content .tittle_most_sold {
		font-size: 11px;
		width: 97%;
		margin-left: 1%;
	}
	.products-tabs .block_category {
		padding-left: 0;
		padding-right: 0;
		margin-left: 55%;
		width: 100%;
	}
	.main_img {
		height: 386px;
		width: 400px;
	}
	.position_img_right {
		margin-top: 15%;
		position: relative;
	}
	.imgRight1 {
		height: 300px;
		background-size: cover;
		background-position-y: 50%;
	}
	.imgRight2 {
		height: 300px;
		background-position-y: 65%;
	}

	.img_most_sold_mid {
		width: 145%;
		margin-left: -29%;
	}

	.news_products_content {
		background-size: 261%;
		background-position-x: 20%;
		background-position-y: 27%;
	}

	#list_product .product-line {
		width: 100%;
		margin-left: 15%;
	}

	#list_product .product{
		margin: 30px 40px 30px 60px;
	}

	.section-title .title {
		margin-left: 39%;
		margin-right: 39%;
	}	

	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 28%;
	}
	.icon_hipervinculos {
		margin-right: -50px;
	}
	.footer {
		flex-direction: column;
		height: 150px;
	}
	.redes {
		width: 95%;
	}
	.accordion {
		width: 790px;
	}
	.container_links {
		margin-top: 10%;
	}
	.footer_email h5{
		margin-top: 10%;
	}
}

@media (width:1024px){	
	.menu {
		width: 99%;
	}
	.postion_img_main {
		height: 475px;
		margin-top: 7px;
		margin-left: 5%;
		margin-right: 45%;
	}
	.position_img_right {
		height: 465px;
	}
	.main_content_position {
		margin-top: 15%;
		margin-left: 5%;
		margin-right: 5%;
		width: 61%;
	}
	.main .main_content_position .btn_main {
		width: 30%;
	}
	.imgRight1{
		background-size: 145%;
    	background-position-y: 30%;
	}
	.news_products_content {
		height: 600px;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 45%;
		margin-left: 40%;
		margin-right: 40%;
		width: 20%;
	}
	.rower {
		width: 100%;
	}
	.allProducts {
		min-height: 680px;
	}
	.divAllProducts .product-line {
		flex-direction: column;
		flex-wrap: nowrap;
		margin-right: auto;
		margin-left: auto;
	}
	#list_product .product-line {
		display: flex;
		flex-direction: row;
		margin-left: 14%;
		margin-right: -25%;
	}
	.product .add-to-cart .add-to-cart-btn {
		height: 50px;
		font-size: 11px;
	}
	.how-pos3 {
		top: 9%;
		right: 4%;
	}
	.product .add-to-cart {
		margin-left: 5%;
	}
	.content_more_categorias {
		height: 450px;
	}
	#cart_items {
		min-height: 700px;
	}
}

@media (width:1366px){
	.content_more_categorias {
		height: 450px;
	}
	.allProducts {
		min-height: 810px;
	}
	.divAllProducts {
		margin-left: -20%;
	}
	.divAllProducts .product-line {
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}
	.divAllProducts .product {
		width: 300px;
	}
	.block_category {
		padding-left: 0;
		margin-right: -50%;
		margin-left: 3%;
		max-width: 100%;
	}
	#list_product .product-line {
		margin-right: -60%;
		width: 100%;
	}
	#list_product .product {
		margin: 30px 80px 30px 10px;
		width: 280px;
	}
	.postion_img_main {
		height: 662px;
		margin-top: -17px;
		margin-left: 0;
		margin-right: 40%;
	}
	.position_img_right {
		height: 620px;
	}
	.product .add-to-cart {
		width: 100%;
		margin-left: 0;
	}
	.imgRight1 {
		width: 400px;
		background-size: 160%;
		background-position-y: 40%;  
	}
	.imgRight2 {
		width: 400px; 
	}
	.rower {
		width: 100%;
		margin-left: 5%;
		margin-right: 5%;
	}
	.how-pos3 {
		top: 10%;
		right: 7%;
	}
	.new_produc_main .button_new_product .btn_new_prod {
		margin-top: 50%;
		margin-left: 40%;
		margin-right: 40%;
		width: 20%;
	}
	.footer {
		height: 160px;
	}
}